* {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 2%;
    margin: 0;
}

body {
    width: 100%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
    margin-top: 1%;
    z-index: 1;
}

header {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid;
}

header ul {
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 20px;
    float: right;
}

header li {
    padding: 0;
    height: 100%;
    float: left;
    width: 170.5px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
}

.tr {
    display: table-row;
    padding: 5px;
    overflow: hidden;
}

.td {
    display: table-cell;
    padding: 5px;
    width: 300px;
    border: #000000 solid 1px;
    margin: 5px;
}