* {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 2%;
    margin: 0;
    vertical-align: middle;
}

body {
    width: 100%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
    margin-top: 1%;
    z-index: 1;
}

header {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid;
}

header ul {
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 20px;
    float: right;
}

header li {
    padding: 0;
    height: 100%;
    float: left;
    width: 170.5px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
}

.body {
    box-sizing: border-box;
    height: 560px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: solid black;
}

.leftSide {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    width: 70%;
    float: left;
    height: 560px;
    border-right: solid black;
}

.rightSide {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 30%;
    height: 560px;
    float: right;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.rightSide::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.option {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

.option ul {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 20px;
    vertical-align: middle;
    font-size: 20px;
}

.option button {
    height: 100%;
    font-size: 15px;
}

.option li:nth-child(2) input {
    width: 65%;
    float: right;
    height: 100%;
    font-size: 15px;
}

.option li:nth-child(2) button {
    width: 30%;
    float: right;
    height: 100%;
}

.option li {
    padding: 0;
    height: 100%;
    float: left;
    width: 33.333%;
}

.tableRoute {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    height: 440px;
}

.tableRoute .tr {
    overflow: auto;
}

.tableRoute .td {
    overflow: auto;
}

.tr {
    display: table-row;
    padding: 5px;
    overflow: hidden;
}

.td {
    display: table-cell;
    padding: 5px;
    width: 300px;
    border: #000000 solid 1px;
    margin: 5px;
}

#addStage div,
#viewStage div,
#addStageUpdate div {
    margin-bottom: 10px;
    width: 100%;
}

.updateRouteOut,
.createRouteOut {
    width: 100%;
    height: 100%;
    padding: 5%;
    z-index: 10;
    position: fixed;
    text-align: center;
    /* Stay in place */
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
    overflow: scroll;
}

.createRoute,
.updateRoute {
    background-color: aquamarine;
    height: 100%;
    width: 50%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.createRoute::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.updateRoute::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.createRoute div,
.updateRoute div,
.viewRoute div {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.createRoute p,
.updateRoute p,
.viewRoute p {
    clear: both;
    width: 30%;
    float: left;
    margin-bottom: 10px;
}

.createRoute input,
.updateRoute input,
.viewRoute input {
    width: 70%;
    float: right;
    margin-bottom: 10px;
    font-size: 18px;
}

#addStage div,
#addStageUpdate div {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#addStage button,
#addStageUpdate button {
    width: 33%;
    margin-bottom: 10px;
}

.route {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

.route p {
    clear: both;
    width: 25%;
    float: left;
}

.route input {
    width: 60%;
    float: left;
}

.route button {
    width: 15% !important;
    float: left;
}

.createRoute p,
.updateRoute p,
.viewRoute p {
    clear: both;
    width: 30%;
    float: left;
    margin-bottom: 10px;
}

.createRoute input,
.updateRoute input,
.viewRoute input {
    width: 70%;
    float: right;
    margin-bottom: 10px;
    font-size: 18px;
}

#addStage div,
#addStageUpdate div {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#addStage button,
#addStageUpdate button {
    width: 33%;
    margin-bottom: 10px;
}

.route {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

.route p {
    clear: both;
    width: 25%;
    float: left;
}

.route input {
    width: 60%;
    float: left;
}

.route button {
    width: 15% !important;
    float: left;
}

.viewRoute p {
    clear: both;
    width: 30%;
    float: left;
    margin-bottom: 10px;
}

.viewRoute input {
    width: 70%;
    float: right;
    margin-bottom: 10px;
    font-size: 18px;
}

#viewStage p {
    width: 100%;
    font-size: 19px;
}