<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
</head>

<body>
    <p><a href='/account/homeAdmin'>Trang chủ admin</a></p>
    <p><a href='/admin/createAccount'>Create account</a></p>
    <p><a href='/admin/allextracurricularActivities'>All Extracurricular Activities </a></p>
    <p><a href='/admin/dashboard'>Dashboard</a></p>
</body>

</html>