<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <script src="/jquery/jquery.js"></script>
    {{!-- jsonToExcel --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>

    <style>
        i {
            font-size: 30px;
        }

        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
            overflow: hidden;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
            overflow: hidden;

        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }

        .flip-card {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px;
            float: left;
        }

        .flip-card-inner {
            border-radius: 30px;
            position: relative;
            width: 80%;
            height: 80%;
            text-align: center;
            margin-left: 10%;
            margin-top: 10%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(185, 69, 69, 0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: rgb(175, 156, 156);
            color: black;
        }

        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);

        }

        .container {
            text-align: center;

        }
    </style>
</head>

<body>
    <div>
        <div class="tr">
            <div class="td" onclick="location.href='/admin';"><i class="fas fa-house-user"></i> Trang chủ admin</div>
            <div class="td" onclick="location.href='/admin/createAccount';"><i class="fas fa-address-book"></i> Create
                account</div>
            <div class="td" onclick="consultingAll('0')"><i class="fas fa-list-alt"></i> Consulting All</div>
            <div class="td" onclick="allProposal()"><i class="fas fa-list-alt"></i> AllProposal</div>
            <div class="td" onclick="allEvent()"><i class="fas fa-list-alt"></i> AllEvent</div>
            <div class="td" onclick='$(".createEvent").toggle()'><i class="fas fa-calendar-plus"></i> Create Event</div>
            <div class="td" onclick="location.href='/admin/dashboard';"><i class="fas fa-chart-line"></i> Dashboard
            </div>
            <div class="td"><i class="fas fa-sign-out-alt"></i> Log Out</div>
        </div>
    </div>

    <div id="loading" style="display:none">
        <img src="/images/loadingWalking.gif" alt="Loading..." />
    </div>
    <div class="proposal" style="display: none;">
        <div id="table">
            <div class="tr">
                <div class="td">Tìm kiếm: <input type="text" id="myInput" placeholder="Enter proposal name"></div>
                <div class="td">Filter:
                    <select id="proposalFilter">
                        <option value="all">All</option>
                        <option value="extracurricularActivities">Extracurricular Activities</option>
                        <option value="event">Event</option>
                        <option value="teaching">Teaching</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="td">sss</div>
                <div class="td">sss</div>
                <div class="td">Filter by teacher:
                    <select id="proposalFilterByTeacher">
                        <option value="event">Event</option>
                    </select>
                </div>
                <div class="td">sss</div>
                <div class="td"><button onclick="$('.proposal').slideUp()"><i class="fas fa-times"></i></button></div>
            </div>
            <div class="tr">
                <div class="td">Class Name</div>
                <div class="td">Teacher</div>
                <div class="td">extracurricularActivitiesContent</div>
                <div class="td">uploadDate</div>
                <div class="td">Status</div>
                <div class="td">Comment</div>
                <div class="td">Action</div>
            </div>
        </div>
    </div>
    <div id="viewProposal" style="display:none;">
        <button onclick="$('#viewProposalPart').html('');$('#viewProposal').hide()"><i
                class="fas fa-times"></i></button></br>
        <div id="viewProposalPart">
        </div>
    </div>

    {{!-- <div class="allEvent" style="display: none;">
        <div class="tr">
            <div class="td">eventName</div>
            <div class="td">eventContent</div>
            <div class="td">eventAddress</div>
            <div class="td">eventAt</div>
            <div class="td">eventProposal</div>
            <div class="td" onclick='$(".allEvent").hide()'><i class="fas fa-times"></i></div>
        </div>
    </div> --}}

    <div class="updateEvent" style="display:none;">
        <div class="tr">
            <input type="hidden" id='updateeventID'>
            <div class="td">Event Name: <input type="text" id='updateeventName'></div>
            <div class="td">Content: <input type="text" id='updateeventContent'></div>
            <div class="td">Address: <input type="text" id='updateeventAddress'></div>
            <div class="td">At: <input type="date" id='updateeventAt'></div>
            <div class="td"><button onclick="doUpdateEvent()">Submit</button></div>
            <div class="td" onclick='$(".updateEvent").hide()'><i class="fas fa-times"></i></div>
        </div>
    </div>

    <div class='createEvent' style="display: none;">
        <div class="tr">
            <div class="td">Event Name: <input type="text" id='eventName'></div>
            <div class="td">Content: <input type="text" id='eventContent'></div>
            <div class="td">Address: <input type="text" id='eventAddress'></div>
            <div class="td">At: <input type="date" id='eventAt'></div>
            <div class="td"><button onclick="doCreateEvent()">Submit</button></div>
            <div class="td"><button onclick='$(".createEvent").hide()'><i class="fas fa-times"></i></button></div>
        </div>
    </div>
    <div class="allEventProposal" style='display:none;'>
        <div class="tr">
            <div class="td">File Link</div>
            <div class="td">Teacher Name</div>
            <div class="td">comment</div>
            <div class="td">status</div>
            <div class="td" onclick='$(".allEventProposal").fadeOut(500);'><i class="fas fa-times"></i></div>
        </div>
    </div>

    <div class='rateEventProposal' style="display: none;">
        <div class="tr">
            <div class="td"><iframe src="" id="fileEventProposalRate" height="500px" width="750px"></iframe> </div>
            <div class="td" style="vertical-align: top;">
                <input type="hidden" id="idProposal"></br>
                <input type="hidden" id="IDlinkProposal"></br>
                Status <input type="text" id="statusRateEventProposal"></br>
                Comment <input type="text" id="commentRateEventProposal"></br>
                <button onclick="dorateEventProposal()">Submit</button>
                <button onclick='$(".rateEventProposal").fadeOut(500);'>Close</button>
            </div>
        </div>
    </div>

    <div class="consultingAll" style="display:none;">
        <div class="tr" style="font-size:15px;font-weight: bolder;">
            <div class="td" id="consultingAllTile"></div>
            <div class="td">
                Time: <input type="month" id="consultingFilterByMonth" onchange="consultingAll('1')">
            </div>
            <div class="td" id="downloadExcel"></div>
            <div class="td" onclick='$(".consultingAll").hide()'><i class="fas fa-times"></i></div>

        </div>
        <div class="tr" style="font-size:15px;font-weight: bolder;">
            <div class="td">Name</div>
            <div class="td">Email</div>
            <div class="td">phone</div>
            <div class="td">purpose</div>
            <div class="td">consultingTime</div>
            <div class="td">consultingVia</div>
        </div>
    </div>
    <div id="card" style="display: none;">
        <div class="tr" onclick='$("#card").hide()'><i class="fas fa-times"></i></div>
    </div>
</body>
<script>
    // CURD event
    function allEvent() {
        $.ajax({
            url: '/admin/allEvent',
            method: 'get',
            dataType: 'json',
            success: function (response) {
                if (response.msg == 'success') {
                    //$(".allEvent .tr:not(:nth-child(1))").remove();
                    // $(".allEvent").html($(".allEvent .tr:nth-child(1)"));
                    $("#card").html($("#card .tr:nth-child(1)"));
                    $.each(response.data, function (index, data) {
                        /*var content = '<div class="tr" id="' + data._id + '"><div class="td">' + data.eventName + '</div><div class="td">' + data.eventContent + '</div><div class="td">' + data.eventAddress + '</div><div class="td">' + data.eventAt + '</div><div class="td">' + data.eventProposal + '</div><div class="td"><button onclick = updateEvent("' + data._id + '")><i class="fas fa-edit"></i></button><button onclick = deleteEvent("' + data._id + '")><i class="fas fa-trash-alt"></i></button><button onclick = allEventProposal("' + data._id + '")><i class="fas fa-clipboard-list"></i></button></div></div>'
                        $(".allEvent").append(content);*/
                        var content = '<div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front"><img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;"></div><div class="flip-card-back" ><h1 class="' + data._id + '">' + data.eventName + '</h1><p class="' + data._id + '">Content: ' + data.eventContent + '</p><p class="' + data._id + '">Address: ' + data.eventAddress + '</p><p class="' + data._id + '">Time: ' + data.eventAt + '</p><button onclick = updateEvent("' + data._id + '")><i class="fas fa-edit"></i></button><button onclick = deleteEvent("' + data._id + '")><i class="fas fa-trash-alt"></i></button><button onclick = allEventProposal("' + data._id + '")><i class="fas fa-clipboard-list"></i></button></div></div> <div class="container"><h1><b>' + data.eventName + '</b></h1></div></div>'
                        $("#card").append(content);

                    })
                    $("#card").show()
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    function doCreateEvent() {
        formData = {
            eventName: $("#eventName").val(),
            eventContent: $("#eventContent").val(),
            eventAddress: $("#eventAddress").val(),
            eventAt: $("#eventAt").val(),
        }
        $.ajax({
            url: '/admin/createEvent',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
                if (response.msg == 'hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày') {
                    alert(' hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }
    function deleteEvent(id) {
        $.ajax({
            url: '/admin/deleteEvent',
            method: 'delete',
            dataType: 'json',
            data: { id: id },
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                    allEvent();
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    function updateEvent(id) {
        var data = []
        $("." + id).each(function () {
            data.push($(this).text())
        })
        console.log(data)
        $("#updateeventID").val(id)
        $("#updateeventName").val(data[0])
        $("#updateeventContent").val(data[1].split('Content: ')[1])
        $("#updateeventAddress").val(data[2].split('Address: ')[1])
        $("#updateeventAt").val(data[3].split('Time: ')[1])
        $(".updateEvent").show()
    }

    function doUpdateEvent() {
        formData = {
            id: $("#updateeventID").val(),
            eventName: $("#updateeventName").val(),
            eventContent: $("#updateeventContent").val(),
            eventAddress: $("#updateeventAddress").val(),
            eventAt: $("#updateeventAt").val(),
        }
        $.ajax({
            url: '/admin/doUpdateEvent',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
                if (response.msg == 'hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày') {
                    alert(' hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })

    }

    function allEventProposal(id) {
        $.ajax({
            url: '/admin/allEventProposal',
            method: 'get',
            dataType: 'json',
            data: { id: id },
            success: function (response) {
                if (response.msg == 'success') {
                    $(".allEventProposal .tr:not(:nth-child(1))").remove();
                    //                    $(".allEventProposal").html($(".allEventProposal .tr:nth-child(1)"));
                    $.each(response.data, function (index, data) {
                        $.each(data.proposals, function (index, proposals) {
                            var content = '<div class="tr" id="' + proposals._id + '"><div class="td"><a href="' + proposals.fileLink + '" target="_blank"><i class="fas fa-link"></i>View proposal</a></div><div class="td"><img src = "' + proposals.teacherID.avatar + '"style ="max-width:100px;max-height:100px"></br>' + proposals.teacherID.username + '</div><div class="td">' + proposals.comment + '</div><div class="td">' + proposals.status + '</div><div class="td"><button onclick = rateEventProposal("' + data._id + '","' + proposals._id + '")>Rate</button></div></div>'
                            $(".allEventProposal").append(content);
                        })
                    })
                    $(".allEventProposal").show()
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    //rateEventProposal
    function rateEventProposal(id, proposalID) {
        $("#idProposal").val(id)
        $("#IDlinkProposal").val(proposalID)
        var data = []
        $("#" + proposalID + " .td").each(function () {
            data.push($(this).text())
        })
        $("#fileEventProposalRate").attr("src", $("#" + proposalID + " .td a").attr('href'))
        $("#statusRateEventProposal").val(data[2])
        $("#commentRateEventProposal").val(data[3])
        $(".rateEventProposal").show()
    }

    function dorateEventProposal() {
        formData = {
            idProposal: $("#idProposal").val(),
            IDlinkProposal: $("#IDlinkProposal").val(),
            status: $("#statusRateEventProposal").val(),
            comment: $("#commentRateEventProposal").val(),
        }
        $.ajax({
            url: '/admin/dorateEventProposal',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }


    //hiển thị bảng đề xuất cho hoạt động ngoại khóa
    function allProposal() {
        $(".tr1").remove();
        $("#loading").show();
        $.ajax({
            url: '/admin/allProposal',
            method: 'get',
            dataType: 'json',
            success: function (response) {
                if (response.msg == 'success') {
                    $.each(response.data, function (index, data) {
                        if (data.fileLink) {
                            var content = "<div class='tr1' id='" + data._id + "'><div class='td'>" + data.className + "</div><div class='td' style='text-align: center;'><img src ='" + data.teacherID.avatar + "'style ='max-width:100px;max-height:100px'></br>" + data.teacherID.username + "</div><div class='td'> " + data.extracurricularActivitiesContent + "</div><div class='td' >" + data.uploadDate + "</div><div class='td'>" + data.status + "</div><div class='td'>" + data.comment + "</div><div class='td'><button onclick=rate('" + data._id + "','" + data.fileLink + "')>Rate</button></div></div>"
                            $("#table").append(content);
                        }
                    })
                    $("#loading").hide();
                    $('.proposal').slideDown(1000)
                }
                if (response.msg == 'error') {
                    alert(' error');
                    $("#loading").hide();

                }
            },
            error: function (response) {
                alert('server error');
                $("#loading").hide();
            }
        })
    }

    //lấy form đánh giá đề xuất hoạt động ngoại khóa
    function rate(id, file) {
        $('#viewProposalPart').html('')
        var po = []
        $("#" + id + " .td").each(function () {
            po.push($(this).text())
        })
        $('#viewProposalPart').append('<iframe  src="' + file + '" height="750px" width="70%"></iframe>');
        $('#viewProposalPart').append('<div class="rateProposal" style="float:right;height="750px"; width="30%";> Rate: <select id="rateProposal"><option value="yes">Yes</option><option value="no">No</option><option value="reArrange">ReArrange</option></select><br>Comment: <input type="text" id="commentProposal" value = "' + po[5] + '"><br><button onclick=doRateProposal("' + id + '")>Submit</button></div>');
        $('#viewProposalPart option:selected').removeAttr('selected');
        $("#viewProposalPart option[value='" + po[4] + "']").attr('selected', 'selected');
        $('#viewProposal').show()
    }
    //ddánh giá đề xuất hoạt động ngoại khóa
    function doRateProposal(id) {
        var formData = {
            _id: id,
            comment: $("#commentProposal").val(),
            status: $("#rateProposal").val(),
        }
        $.ajax({
            url: '/admin/rateProppsal',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                    $('#viewProposalPart').html('')
                    $('#viewProposal').hide()
                    allProposal();
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
                $("#loading").hide();
            }
        })
    }
    var jsonToExcel
    //thông tin tư vấn
    function consultingAll(check) {
        if (check == '0') {
            var date = new Date()
            var start = date.getFullYear() + "-" + (date.getMonth() + 1).toString().padStart(2, "0") + "-01"
            var end = date.getFullYear() + "-" + (date.getMonth() + 2).toString().padStart(2, "0") + "-01"
            var month = date.getMonth() + 1

        } else {
            var date = new Date($('#consultingFilterByMonth').val())
            var start = date.getFullYear() + "-" + (date.getMonth() + 1).toString().padStart(2, "0") + "-01"
            var end = date.getFullYear() + "-" + (date.getMonth() + 2).toString().padStart(2, "0") + "-01"
            var month = date.getMonth() + 1
        }
        $.ajax({
            url: '/admin/consultingAll',
            method: 'get',
            dataType: 'json',
            data: { start: start, end: end, month: month },
            success: function (response) {
                if (response.msg == 'success') {
                    jsonToExcel = response.data
                    $(".consultingAll .tr:not(:nth-child(1)):not(:nth-child(2))").remove();
                    $("#consultingAllTile").text("Danh sách đăng ký tư vấn tháng " + response.month)
                    if (response.data.length == 0) {
                        $(".consultingAll").append("<div class='tr' ><div class='td'>Không có dữ liệu</div></div>")
                    }
                    $.each(response.data, function (index, data) {
                        $(".consultingAll").append("<div class='tr' ><div class='td'>" + data.name + "</div><div class='td'>" + data.Email + "</div><div class='td'> " + data.phone + "</div><div class='td' >" + data.purpose + "</div><div class='td'>" + data.consultingTime + "</div><div class='td'>" + data.consultingVia + "</div></div>")
                    })
                    $("#downloadExcel").html("Xuất file excel: <button onclick=exportExcel('" + response.month + "')><i class='fas fa-download' style='color: black;'></i></button>")
                    $(".consultingAll").fadeIn(500);
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })

    }


    function exportExcel(month) {
        var filename = 'Danh sách đăng ký tư vấn tháng ' + month + '.xlsx';
        var ws = XLSX.utils.json_to_sheet(jsonToExcel);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "People");
        XLSX.writeFile(wb, filename);
    }


</script>

</html>