<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>
    <style>
        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <p><a href='/account/homeAdmin'>Trang chủ admin</a></p>
    <p><a href='/admin/createAccount'>Create account</a></p>
    <p><a onclick="allProposal()">All Extracurricular Activities</a></p>
    <p><a href='/admin/dashboard'>Dashboard</a></p>
    <div id="loading" style="display:none">
        <img src="/images/loadingWalking.gif" alt="Loading..." />
    </div>
    <div class="proposal" style="display: none;">
        <div id="table">
            <div class="tr">
                <div class="td">Tìm kiếm: <input type="text" id="myInput" placeholder="Enter proposal name"></div>
                <div class="td">Filter:
                    <select id="proposalFilter">
                        <option value="all">All</option>
                        <option value="extracurricularActivities">Extracurricular Activities</option>
                        <option value="event">Event</option>
                        <option value="teaching">Teaching</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="td">sss</div>
                <div class="td">sss</div>
                <div class="td">Filter by teacher:
                    <select id="proposalFilterByTeacher">
                        <option value="event">Event</option>
                    </select>
                </div>
                <div class="td">sss</div>
                <div class="td"><button onclick="closeProposalTable()">&times;</button></div>
            </div>
            <div class="tr">
                <div class="td">Class Name</div>
                <div class="td">Teacher</div>
                <div class="td">extracurricularActivitiesContent</div>
                <div class="td">uploadDate</div>
                <div class="td">Status</div>
                <div class="td">Comment</div>
                <div class="td">Action</div>
            </div>
        </div>
    </div>
    <div id="viewProposal"></div>

</body>
<script>
    //hiển thị bảng đề xuất
    function allProposal() {
        $(".tr1").remove();
        $("#loading").show();
        $.ajax({
            url: '/admin/allProposal',
            method: 'get',
            dataType: 'json',
            success: function (response) {
                if (response.msg == 'success') {
                    $.each(response.data, function (index, data) {
                        var content = "<div class='tr1' id='" + data._id + "'><div class='td'>" + data.classID.className + "</div><div class='td' style='text-align: center;'><img src ='" + data.teacherID.avatar + "'style ='max-width:100px;max-height:100px'></br>" + data.teacherID.username + "</div><div class='td'> " + data.extracurricularActivitiesContent + "</div><div class='td' >" + data.uploadDate + "</div><div class='td'>" + data.status + "</div><div class='td'>" + data.comment + "</div><div class='td'><button onclick=rate('" + data._id + "','" + data.fileLink + "')>Rate</button></div></div>"
                        $("#table").append(content);
                    })
                    $("#loading").hide();
                    $('.proposal').slideDown(1000)
                }
                if (response.msg == 'error') {
                    alert(' error');
                    $("#loading").hide();

                }
            },
            error: function (response) {
                alert('server error');
                $("#loading").hide();
            }
        })
    }

    //lấy form đánh giá đề xuất
    function rate(id, file) {
        $('#viewProposal').html('')
        var lol = "#" + id + " .td"
        var po = []
        $(lol).each(function () {
            po.push($(this).text())
        })
        $('#viewProposal').append('<button onclick="cancelProposal()">&times;</button></br>');
        $('#viewProposal').append('<iframe  src="' + file + '" height="750px" width="70%"></iframe>');
        $('#viewProposal').append('<div class="rateProposal" style="float:right;height="750px"; width="30%";> Rate: <select id="rateProposal"><option value="yes">Yes</option><option value="no">No</option><option value="reArrange">ReArrange</option></select><br>Comment: <input type="text" id="commentProposal" value = "' + po[5] + '"><br><button onclick=doRateProposal("' + id + '")>Submit</button></div>');
        $('#rateProposal option:selected').removeAttr('selected');
        $("#rateProposal option[value='" + po[5] + "']").attr('selected', 'selected');
    }
    //ddánh giá đề xuất
    function doRateProposal(id) {
        var formData = {
            _id: id,
            comment: $("#commentProposal").val(),
            status: $("#rateProposal").val(),
        }
        $.ajax({
            url: '/admin/rateProppsal',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                    $('#viewProposal').html('')
                    allProposal();
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
                $("#loading").hide();
            }
        })
    }
    
    function cancelProposal() {
        $('#viewProposal').html('')
    }

    function closeProposalTable() {
        $('.proposal').slideUp()
    }
</script>

</html>