<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>
    <style>
        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
            overflow: hidden;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
            overflow: hidden;

        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <div>
        <div class="tr">
            <div class="td" onclick="location.href='/admin';" >Trang chủ admin</div>
            <div class="td" onclick="location.href='/admin/createAccount';">Create account</div>
            <div class="td" onclick="allProposal()">allProposal</div>
            <div class="td" onclick="allEvent()">allEvent</div>
            <div class="td" onclick='$(".createEvent").toggle()'>createEvent</div>
            <div class="td" onclick="location.href='/admin/dashboard';" >Dashboard</div>
            <div class="td">Log Out</div>
        </div>
    </div>

    <div id="loading" style="display:none">
        <img src="/images/loadingWalking.gif" alt="Loading..." />
    </div>
    <div class="proposal" style="display: none;">
        <div id="table">
            <div class="tr">
                <div class="td">Tìm kiếm: <input type="text" id="myInput" placeholder="Enter proposal name"></div>
                <div class="td">Filter:
                    <select id="proposalFilter">
                        <option value="all">All</option>
                        <option value="extracurricularActivities">Extracurricular Activities</option>
                        <option value="event">Event</option>
                        <option value="teaching">Teaching</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="td">sss</div>
                <div class="td">sss</div>
                <div class="td">Filter by teacher:
                    <select id="proposalFilterByTeacher">
                        <option value="event">Event</option>
                    </select>
                </div>
                <div class="td">sss</div>
                <div class="td"><button onclick="$('.proposal').slideUp()">&times;</button></div>
            </div>
            <div class="tr">
                <div class="td">Class Name</div>
                <div class="td">Teacher</div>
                <div class="td">extracurricularActivitiesContent</div>
                <div class="td">uploadDate</div>
                <div class="td">Status</div>
                <div class="td">Comment</div>
                <div class="td">Action</div>
            </div>
        </div>
    </div>
    <div id="viewProposal" style="display:none;">
        <button onclick="$('#viewProposalPart').html('');$('#viewProposal').hide()">&times;</button></br>
        <div id="viewProposalPart">
        </div>
    </div>

    <div class="allEvent" style="display: none;">
        <div class="tr">
            <div class="td">eventName</div>
            <div class="td">eventContent</div>
            <div class="td">eventAddress</div>
            <div class="td">eventAt</div>
            <div class="td">eventProposal</div>
            <div class="td" onclick='$(".allEvent").hide()'>&times;</div>
        </div>
    </div>

    <div class="updateEvent" style="display:none;">
        <div class="tr">
            <input type="hidden" id='updateeventID'>
            <div class="td">Event Name: <input type="text" id='updateeventName'></div>
            <div class="td">Content: <input type="text" id='updateeventContent'></div>
            <div class="td">Address: <input type="text" id='updateeventAddress'></div>
            <div class="td">At: <input type="date" id='updateeventAt'></div>
            <div class="td"><button onclick="doUpdateEvent()">Submit</button></div>
            <div class="td" onclick='$(".updateEvent").hide()'>&times;</div>
        </div>
    </div>

    <div class='createEvent' style="display: none;">
        <div class="tr">
            <div class="td">Event Name: <input type="text" id='eventName'></div>
            <div class="td">Content: <input type="text" id='eventContent'></div>
            <div class="td">Address: <input type="text" id='eventAddress'></div>
            <div class="td">At: <input type="date" id='eventAt'></div>
            <div class="td"><button onclick="doCreateEvent()">Submit</button></div>
            <div class="td"><button onclick='$(".createEvent").hide()'>&times;</button></div>
        </div>
    </div>
    <div class="allEventProposal" style='display:none;'>
        <div class="tr">
            <div class="td">File Link</div>
            <div class="td">Teacher Name</div>
            <div class="td">comment</div>
            <div class="td">status</div>
            <div class="td" onclick='$(".allEventProposal").fadeOut(500);'>&times;</div>
        </div>
    </div>

    <div class='rateEventProposal' style="display: none;">
        <div class="tr">
            <div class="td"><iframe src="" id="fileEventProposalRate" height="500px" width="750px"></iframe> </div>
            <div class="td" style="vertical-align: top;">
                <input type="hidden" id="idProposal"></br>
                <input type="hidden" id="IDlinkProposal"></br>
                Status <input type="text" id="statusRateEventProposal"></br>
                Comment <input type="text" id="commentRateEventProposal"></br>
                <button onclick="dorateEventProposal()">Submit</button>
                <button onclick='$(".rateEventProposal").fadeOut(500);'>Close</button>
            </div>
        </div>
</body>
<script>
    // CURD event
    function allEvent() {
        $.ajax({
            url: '/admin/allEvent',
            method: 'get',
            dataType: 'json',
            success: function (response) {
                if (response.msg == 'success') {
                    $(".allEvent").html($(".allEvent .tr:nth-child(1)"));
                    $.each(response.data, function (index, data) {
                        var content = '<div class="tr" id="' + data._id + '"><div class="td">' + data.eventName + '</div><div class="td">' + data.eventContent + '</div><div class="td">' + data.eventAddress + '</div><div class="td">' + data.eventAt + '</div><div class="td">' + data.eventProposal + '</div><div class="td"><button onclick = updateEvent("' + data._id + '")>Update</button><button onclick = deleteEvent("' + data._id + '")>Delete</button><button onclick = allEventProposal("' + data._id + '")>Proposal</button></div></div>'
                        $(".allEvent").append(content);
                    })
                    $(".allEvent").show()
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    function doCreateEvent() {
        formData = {
            eventName: $("#eventName").val(),
            eventContent: $("#eventContent").val(),
            eventAddress: $("#eventAddress").val(),
            eventAt: $("#eventAt").val(),
        }
        $.ajax({
            url: '/admin/createEvent',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
                if (response.msg == 'hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày') {
                    alert(' hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }
    function deleteEvent(id) {
        $.ajax({
            url: '/admin/deleteEvent',
            method: 'delete',
            dataType: 'json',
            data: { id: id },
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                    allEvent();
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    function updateEvent(id) {
        var data = []
        $("#" + id + " .td").each(function () {
            data.push($(this).text())
        })
        console.log(data)
        $("#updateeventID").val(id)
        $("#updateeventName").val(data[0])
        $("#updateeventContent").val(data[1])
        $("#updateeventAddress").val(data[2])
        $("#updateeventAt").val(data[3])
        $(".updateEvent").show()
    }

    function doUpdateEvent() {
        formData = {
            id: $("#updateeventID").val(),
            eventName: $("#updateeventName").val(),
            eventContent: $("#updateeventContent").val(),
            eventAddress: $("#updateeventAddress").val(),
            eventAt: $("#updateeventAt").val(),
        }
        $.ajax({
            url: '/admin/doUpdateEvent',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
                if (response.msg == 'hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày') {
                    alert(' hạn nộp đề xuất phải sớm hơn sự kiện 4 ngày');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })

    }

    function allEventProposal(id) {
        $.ajax({
            url: '/admin/allEventProposal',
            method: 'get',
            dataType: 'json',
            data: { id: id },
            success: function (response) {
                if (response.msg == 'success') {
                    $(".allEventProposal").html($(".allEventProposal .tr:nth-child(1)"));
                    $.each(response.data, function (index, data) {
                        $.each(data.proposals, function (index, proposals) {
                            var content = '<div class="tr" id="' + proposals._id + '"><div class="td"><a href="' + proposals.fileLink + '" target="_blank">Your Proposal</a></div><div class="td"><img src = "' + proposals.teacherID.avatar + '"style ="max-width:100px;max-height:100px"></br>' + proposals.teacherID.username + '</div><div class="td">' + proposals.comment + '</div><div class="td">' + proposals.status + '</div><div class="td"><button onclick = rateEventProposal("' + data._id + '","' + proposals._id + '")>Rate</button></div></div>'
                            $(".allEventProposal").append(content);
                        })
                    })
                    $(".allEventProposal").show()
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    //rateEventProposal
    function rateEventProposal(id, proposalID) {
        console.log(id)
        console.log(proposalID)
        $("#idProposal").val(id)
        $("#IDlinkProposal").val(proposalID)
        var data = []
        $("#" + proposalID + " .td").each(function () {
            data.push($(this).text())
        })
        console.log(data)
        $("#fileEventProposalRate").attr("src", $(".tr" + proposalID + " .td a").attr('href'))
        $("#statusRateEventProposal").val(data[2])
        $("#commentRateEventProposal").val(data[3])
        $(".rateEventProposal").show()
    }

    function dorateEventProposal() {
        formData = {
            idProposal: $("#idProposal").val(),
            IDlinkProposal: $("#IDlinkProposal").val(),
            status: $("#statusRateEventProposal").val(),
            comment: $("#commentRateEventProposal").val(),
        }
        $.ajax({
            url: '/admin/dorateEventProposal',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }


    //hiển thị bảng đề xuất cho hoạt động ngoại khóa
    function allProposal() {
        $(".tr1").remove();
        $("#loading").show();
        $.ajax({
            url: '/admin/allProposal',
            method: 'get',
            dataType: 'json',
            success: function (response) {
                if (response.msg == 'success') {
                    $.each(response.data, function (index, data) {
                        var content = "<div class='tr1' id='" + data._id + "'><div class='td'>" + data.classID.className + "</div><div class='td' style='text-align: center;'><img src ='" + data.teacherID.avatar + "'style ='max-width:100px;max-height:100px'></br>" + data.teacherID.username + "</div><div class='td'> " + data.extracurricularActivitiesContent + "</div><div class='td' >" + data.uploadDate + "</div><div class='td'>" + data.status + "</div><div class='td'>" + data.comment + "</div><div class='td'><button onclick=rate('" + data._id + "','" + data.fileLink + "')>Rate</button></div></div>"
                        $("#table").append(content);
                    })
                    $("#loading").hide();
                    $('.proposal').slideDown(1000)
                }
                if (response.msg == 'error') {
                    alert(' error');
                    $("#loading").hide();

                }
            },
            error: function (response) {
                alert('server error');
                $("#loading").hide();
            }
        })
    }

    //lấy form đánh giá đề xuất hoạt động ngoại khóa
    function rate(id, file) {
        $('#viewProposalPart').html('')
        var po = []
        $("#" + id + " .td").each(function () {
            po.push($(this).text())
        })
        $('#viewProposalPart').append('<iframe  src="' + file + '" height="750px" width="70%"></iframe>');
        $('#viewProposalPart').append('<div class="rateProposal" style="float:right;height="750px"; width="30%";> Rate: <select id="rateProposal"><option value="yes">Yes</option><option value="no">No</option><option value="reArrange">ReArrange</option></select><br>Comment: <input type="text" id="commentProposal" value = "' + po[5] + '"><br><button onclick=doRateProposal("' + id + '")>Submit</button></div>');
        $('#viewProposalPart option:selected').removeAttr('selected');
        $("#viewProposalPart option[value='" + po[4] + "']").attr('selected', 'selected');
        $('#viewProposal').show()
    }
    //ddánh giá đề xuất hoạt động ngoại khóa
    function doRateProposal(id) {
        var formData = {
            _id: id,
            comment: $("#commentProposal").val(),
            status: $("#rateProposal").val(),
        }
        $.ajax({
            url: '/admin/rateProppsal',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert(' success');
                    $('#viewProposalPart').html('')
                    $('#viewProposal').hide()
                    allProposal();
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
                $("#loading").hide();
            }
        })
    }


</script>

</html>