<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
      <style>
            #loading {
                  position: fixed;
                  display: block;
                  top: 0;
                  bottom: 0;
                  z-index: 1000000;
                  width: 100%;
                  height: 100%;
                  text-align: center;
            }

            #loading img {
                  margin: auto;
                  display: block;
                  top: calc(50% - 100px);
                  left: calc(50% - 10px);
                  position: absolute;
                  z-index: 999999;
            }
      </style>
</head>

<body>
      <div id="createAccount">
            <h2>ACCOUNT INFORMATION</h2>
            <label for="facultyname">Avatar</label>
            Select images: <input type='file' id="myFile" accept='image/*'><br>
            <img id='output' style="height:3cm; width:3cm"><br>
            <label for="facultyname">Name</label>
            <input type="text" id="username"><br>
            <label for="topic">Email</label>
            <input type="email" id="email" class="emailinput"><br>
            <label for="topic">Password</label>
            <input type="password" id="password"><br>
            <label for="topic">Role</label>
            <select class="Role" id="role" onchange="role('create')">
                  <option value="student">Student</option>
                  <option value="guardian">Guardian</option>
                  <option value="teacher">Teacher</option>
            </select><br>
            <div class="typeRole">
                  <label>Chọn lộ trình học</label>
                  <select id="routeTypeS" onchange="routeType('create')">
                        {{#each targetxxx}}
                        <option value="{{routeName}}">
                              {{routeName}}
                        </option>
                        {{/each}}
                  </select><br>
                  <label>Level</label>
                  <select id="levelS"></select><br>
                  <label>Aim</label>
                  <select id="Aim"></select>
            </div>
            <br>
            <label for="topic">Birthday</label>
            <input type="date" id="birthday">

            <br>
            <label for="topic">Phone</label>
            <input type="text" id="phone">
            <br>
            <label for="topic">Address</label>
            <input type="text" id="address">
            <br>
            <button id="btn1" onclick="signUp()">tiến hành tạo tài khoản</button>
            <button id="reset" onclick="reset()">Reset thông tin</button>

      </div>
      <button id="btnxx">Create new account</button>
      <select id="accountFilter" onchange="getAccount(this.value)">
            <option value="teacher">teacher</option>
            <option value="guardian">guardian</option>
            <option value="student">student</option>
      </select>
      <input id='myInput' type='text' placeholder='Search..'>

      <table border='solid'>
            <div id="loading" style="display:none">
                  <img src="/images/loadingWalking.gif" alt="Loading..." />
            </div>
            <thead id="tableInforType"></thead>
            <tbody class='taskrow'></tbody>
      </table>

      <br>
      <div id="updateForm" style="display: none;">
            <button id="closeUpdateForm"> Close updateForm </button>
            <label>PersonID</label><input type='text' id='PersonID'><br>
            <h2>ACCOUNT update INFORMATION</h2>
            <label>Old Avatar</label>
            <img id='oldAvatar' style='max-width:150px;max-height:200px'></img><br>
            <label>Update Avatar</label> Select images:
            <input type='file' id='myFileUpdate'><br>
            <img id='outputUpdate' style='height:3cm; width:3cm'><br>
            <label>Name</label><input type='text' id='usernameUpdate'><br>
            <label>Email</label><input type='email' id='emailUpdate' class='emailinput'><br>
            <label>Password</label><input type='password' id='passwordUpdate'><br>
            <label>Current Role: <input type='text' id='currentRole'></label>
            <label>Role</label>
            <select class='Role' id='roleUpdate' onchange="role('update')">
                  <option value="student">Student</option>
                  <option value="guardian">Guardian</option>
                  <option value="teacher">Teacher</option>
            </select><br>
            <div class='typeRole'>
                  <label>Chọn lộ trình học</label>
                  <select id='routeTypeSUpdate' onchange="routeType('update')"></select>
                  <label>Level</label>
                  <select id='levelSUpdate'></select><br>
                  <label>Aim</label>
                  <select id='AimUpdate'></select>
            </div>
            <br>
            <div class='gender'>
                  <label>Gender</label>
                  <select id='genderUpdate'>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                  </select>
            </div>
            <br><label>Birthday</label><input type='date' id='birthdayUpdate'><br>
            <label>Phone</label><input type='text' id='phoneUpdate'><br>
            <label>Address</label><input type='text' id='addressUpdate'><br>
            <button id='btn2' onclick="doUpdate()">tiến hành cập nhật thông tin tài khoản</button>
      </div>
</body>
<script src=" /createAccountAdmin.js"></script>

</html>