<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
</head>

<body>
      <div id="createAccount">
            <h2>ACCOUNT INFORMATION</h2>
            <label for="facultyname">Avatar</label>
            Select images: <input type="file" name="myFile" id="myFile">
            <div class="gallery"></div>
            <br>
            <label for="facultyname">Name</label>
            <input type="text" id="username">
            <br>
            <label for="topic">Email</label>
            <input type="email" id="email" class="emailinput">
            <br>
            <label for="topic">Password</label>
            <input type="password" id="password">
            <br>
            <label for="topic">Role</label>
            <select class="Role" id="role">
                  <option value="student">Student</option>
                  <option value="guardian">Guardian</option>
                  <option value="teacher">Teacher</option>
            </select>
            <br>
            <label>Chọn lộ trình học</label>
            <select id="routeTypeS" onchange="routeType()">
                  {{#each targetxxx}}
                  <option value="{{routeName}}">
                        {{routeName}}
                  </option>
                  {{/each}}
            </select>
            <label for="level">Level</label>
            <select id="levelS"></select>
            <br>

            <br>
            <label for="topic">Birthday</label>
            <input type="date" id="birthday">
            <br>
            <label for="topic">Phone</label>
            <input type="text" id="phone">
            <br>
            <label for="topic">Address</label>
            <input type="text" id="address">
            <br>
            <button id="btn1" onclick="signUp()">tiến hành tạo tài khoản</button>
      </div>
      <button id="btnxx">Create new account</button>
      <button id="reset">Reset</button>
      <button id="btn2" onclick="getTeacher()">getTeacher </button>
      <button id="btn3" onclick="getStudent()">getStudent </button>
      <button id="btn3" onclick="getGuardian()">getGuardian </button>
      <table border='solid'>
            <thead>
                  <tr>
                        <th><input id="myInput" type="text" placeholder="Search.."></th>
                  </tr>
                  <tr>
                        <th>avatar</th>
                        <th>username</th>
                        <th>routeName</th>
                        <th>stage</th>
                        <th>More information</th>
                  </tr>
            </thead>
            <tbody class='taskrow'></tbody>
      </table>


      <div id="updateForm">

      </div>

</body>
<script src="/createAccountAdmin.js"></script>

</html>