<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
      <link rel="stylesheet" href="/css/admin/createAccount.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />


</head>

<body>

      <div class="createAccountOut" style="display: none;">
            <div id="createAccount">
                  <h2>ACCOUNT INFORMATION</h2>
                  <label for="facultyname">Avatar</label>
                  Select images: <input type='file' id="myFile" accept='image/*'><br>
                  <img id='output' style="height:3cm; width:3cm"><br>
                  <label for="facultyname">Full name:</label>
                  <input type="text" id="username"><br>
                  <label for="facultyname">Gender</label>
                  <select class="Role" id="gender">
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="other">other</option>
                  </select><br>
                  <label for="topic">Email</label>
                  <input type="email" id="email" class="emailinput"><br>
                  <label for="topic">Password</label>
                  <input type="password" id="password"><br>
                  <label for="topic">Role</label>
                  <select class="Role" id="role" onchange="role('create')">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                  </select><br>
                  <div class="typeRole">
                        <label>Guardian name: <input type='text' name='guardianName'></label><br>
                        <label> Guardian phone: <input type='number' name='guardianPhone'></label><br>
                        <label>Guardian email: <input type='text' name='guardianEmail'></label><br>
                        <label>Chọn lộ trình học</label>
                        <select id="routeTypeS" onchange="routeType('create')">
                              {{#each targetxxx}}
                              <option value="{{routeName}}">
                                    {{routeName}}
                              </option>
                              {{/each}}
                        </select><br>
                        <label>Level</label>
                        <select id="levelS"></select><br>
                        <label>Aim</label>
                        <select id="Aim"></select>
                  </div>
                  <br>
                  <label for="topic">Birthday</label>
                  <input type="date" id="birthday">
                  <br>
                  <label for="topic">Phone</label>
                  <input type="text" id="phone">
                  <br>
                  <label for="topic">Address</label>
                  <input type="text" id="address">
                  <br>
                  <button id="btn1" onclick="signUp()">tiến hành tạo tài khoản</button>
                  <button id="reset" onclick="reset()">Reset thông tin</button>
                  <button id="btnxx" onclick='$(".createAccountOut").slideToggle();'>Close</button>

            </div>
      </div>
      <div class="updateFormOut" style="display: none;">
            <div id="updateForm">
                  <input type='hidden' id='PersonID'><br>
                  <h2>ACCOUNT update INFORMATION</h2>
                  <img id='currentAvatar' style='max-width:100px;max-height:100px'></img><br>
                  <input type="hidden" id="oldAvatar">
                  <input type='file' id='myFileUpdate'><br>
                  <label>Name</label><input type='text' id='usernameUpdate'><br>
                  <label>Email</label><input type='email' id='emailUpdate' class='emailinput'><br>
                  <label>Password</label><input type='password' id='passwordUpdate'><br>
                  <label>Current Role: <input type='hidden' id='currentRole'></label>
                  <label>Role</label>
                  <select class='Role' id='roleUpdate' onchange="role('update')">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                  </select><br>
                  <div class='typeRole'>
                        <label>Chọn lộ trình học</label>
                        <select id='routeTypeSUpdate' onchange="routeType('update')"></select>
                        <label>Level</label>
                        <select id='levelSUpdate'></select><br>
                        <label>Aim</label>
                        <select id='AimUpdate'></select><br>
                        <label>Guardian name: <input type='text' name='guardianNameUpdate'></label><br>
                        <label> Guardian phone: <input type='number' name='guardianPhoneUpdate'></label><br>
                        <label>Guardian email: <input type='text' name='guardianEmailUpdate'></label><br>
                  </div>
                  <br>
                  <div class='gender'>
                        <label>Gender</label>
                        <select id='genderUpdate'>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="other">Other</option>
                        </select>
                  </div>
                  <br><label>Birthday</label><input type='date' id='birthdayUpdate'><br>
                  <label>Phone</label><input type='text' id='phoneUpdate'><br>
                  <label>Address</label><input type='text' id='addressUpdate'><br>
                  <button onclick="doUpdate()">tiến hành cập nhật thông tin tài khoản</button>
                  <button onclick="$('.updateFormOut').slideUp(500)">Close</button>
            </div>
      </div>

      <div class="seacherInforOut" style="display: none;">
            <div class="seacherInfor"> </div>
      </div>
      <header> {{> adminHeader }}</header>

      <div class="body">
            <div class='leftSide'>
                  <div class="option">
                        <ul>
                              <li onclick='$(".createAccountOut").slideToggle();'>
                                    <button>Create account</button>
                              </li>
                              <li>
                                    <p>Filter:</p>
                                    <select id="accountFilter" onchange="getAccount(this.value,0)">
                                          <option value="teacher">teacher</option>
                                          <option value="student">student</option>
                                    </select>
                              </li>
                              <li>
                                    <input id='search' type='text' placeholder='Nhập email hoặc số điện thoại'>
                                    <button onclick="search('')">Search</button>
                              </li>
                        </ul>
                  </div>
                  <div class="tableAccount"></div>
                  <div id="soTrang"></div>

            </div>
            <div class='rightSide'></div>

      </div>

      </div>
</body>

<script src=" /js/admin/createAccount.js"></script>

</html>