<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
      <link rel="stylesheet" href="/css/admin/menu.css">
      <link rel="stylesheet" href="/css/admin/layOut.css">
      <meta charset="UTF-8" />

      <link rel="stylesheet" href="/css/admin/createAccount.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
      <div class="createAccountOut" style="display: none;">
            <div id="createAccount">
                  <form id='myform'>
                        <div style="text-align: left;">
                              <h2 style="text-align: center;">ACCOUNT INFORMATION</h2>
                              <img id='output' style="height:300px; width:auto;text-align: center;" />
                              <figcaption>Hãy chọn ảnh đại diện</figcaption>
                              <input type='file' id="myFile" accept='image/*' style="width: 100%;" required />
                              Full name:<input type="text" id="username" required />
                              Gender:
                              <select class="Role" id="gender">
                                    <option value="male">male</option>
                                    <option value="female">female</option>
                                    <option value="other">other</option>
                              </select>

                              Email:<input type="email" id="email" required />
                              Password:<input type="password" id="password" required />
                              Birthday:<input type="date" id="birthday" required />
                              Phone:<input type="text" id="phone" required />
                              Address:<input type="text" id="address" required />
                              Role:
                              <select class="Role" id="role">
                                    <option value="student">Student</option>
                                    <option value="teacher">Teacher</option>
                              </select>
                        </div>
                        <div class="typeRole" style="text-align: left;">
                              Guardian name: <input type='text' name='guardianName' required />
                              Guardian phone:<input type='number' name='guardianPhone' required />
                              Guardian email:<input type='text' name='guardianEmail' required />
                              Chọn lộ trình học
                              <select id="routeTypeS" onchange="routeType('create')">
                                    {{#each targetxxx}}
                                    <option value="{{routeName}}">
                                          {{routeName}}
                                    </option>
                                    {{/each}}
                              </select>
                              Level
                              <select id="levelS"></select>
                              Aim
                              <select id="Aim"></select>
                        </div>
                        <input type="submit" class='button' name="submit" value="Submit">
                        <button class='button' onclick="reset()">Reset information</button>
                  </form>
            </div>
      </div>

      <div class="updateFormOut" style="display: none;">
            <div id="updateForm">
                  <form id='myformUpdate'>
                        <div style="text-align: left;">
                              <input type='hidden' id='PersonID'>
                              <h2 style="text-align: center;"> UPDATE ACCOUNT INFORMATION</h2>
                              <img id='currentAvatar' style="height:300px; width:auto;text-align:center;">
                              <figcaption>Post new image if you wanna change</figcaption>
                              <input type="hidden" id="oldAvatar">
                              <input type='file' id='myFileUpdate' style="width:100%;">
                              Name<input type='text' id='usernameUpdate'required />
                              Email<input type="email" id="emailUpdate"required />
                              Password<input type='password' id='passwordUpdate'
                                    placeholder="update new passwork if you want to"/>
                              Gender
                              <select id='genderUpdate'>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                              </select>
                              Birthday<input type='date' id='birthdayUpdate'required />
                              Phone<input type='text' id='phoneUpdate'required />
                              Address<input type='text' id='addressUpdate'required />
                              <input type='hidden' id='currentRole'>
                              Role
                              <select class='Role' id='roleUpdate'>
                                    <option value="student">Student</option>
                                    <option value="teacher">Teacher</option>
                              </select>
                        </div>
                        <div class='typeRoleUpdate' style="text-align: left;">
                              Chọn lộ trình học
                              <select id='routeTypeSUpdate' onchange="routeType('update')"></select>
                              Level
                              <select id='levelSUpdate'></select>
                              Aim
                              <select id='AimUpdate'></select>
                              Guardian name:<input type='text' name='guardianNameUpdate'required />
                              Guardian phone: <input type='number' name='guardianPhoneUpdate'required />
                              Guardian email:<input type='text' name='guardianEmailUpdate'required />
                        </div>
                        <input type="submit" class='button' name="submit" value="Submit">
                  </form>
            </div>
      </div>


      <header> {{> adminHeader }}</header>

      <div class="body">
            <div class='leftSide'>
                  <div class='tr' id="option">
                        <div class='td' style="width: 15%;">
                              <button onclick='$(".createAccountOut").slideToggle();'>Create account</button>
                        </div>
                        <div class='td' style="width: 15%;">
                              Filter:
                              <select id="accountFilter" onchange="count()">
                                    <option value="teacher">teacher</option>
                                    <option value="student">student</option>
                              </select>
                        </div>
                        <div class='td' style="width: 30%;">
                              <input id='search' type='text' placeholder='Email or phone number'>
                              <button onclick="search('')">Search</button>
                        </div>
                        <div class='td' id="soTrang" style="width: 10%;">
                        </div>
                  </div>
                  <div class="tableAccount"></div>
            </div>
            <div class='rightSide'>

            </div>

      </div>

      </div>
</body>

<script src="/js/admin/createAccount.js"></script>

</html>