<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
      <link rel="stylesheet" href="/css/admin/createAccount.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
      <div class="createAccountOut" style="display: none;">
            <div id="createAccount">
                  <div style="text-align: left;">
                        <h2>ACCOUNT INFORMATION</h2>
                        <img id='output' style="height:300px; width:auto">
                        <figcaption>Hãy chọn ảnh đại diện</figcaption>
                        <input type='file' id="myFile" accept='image/*' style="width: 100%;">
                        <p>Full name:</p><input type="text" id="username">
                        <p>Gender</p>
                        <select class="Role" id="gender">
                              <option value="male">male</option>
                              <option value="female">female</option>
                              <option value="other">other</option>
                        </select>
                        <p>Email</p><input type="email" id="email">
                        <p>Password</p><input type="password" id="password">
                        <p>Role</p>
                        <select class="Role" id="role" onchange="role('create')">
                              <option value="student">Student</option>
                              <option value="teacher">Teacher</option>
                        </select>
                        <p>Birthday</p><input type="date" id="birthday">
                        <p>Phone</p><input type="text" id="phone">
                        <p>Address</p><input type="text" id="address">
                  </div>
                  <div class="typeRole" style="text-align: left;">
                        <p>Guardian name:</p> <input type='text' name='guardianName'>
                        <p>Guardian phone:</p><input type='number' name='guardianPhone'>
                        <p>Guardian email:</p><input type='text' name='guardianEmail'>
                        <p>Chọn lộ trình học</p>
                        <select id="routeTypeS" onchange="routeType('create')">
                              {{#each targetxxx}}
                              <option value="{{routeName}}">
                                    {{routeName}}
                              </option>
                              {{/each}}
                        </select>
                        <p>Level</p>
                        <select id="levelS"></select>
                        <p>Aim</p>
                        <select id="Aim"></select>
                  </div>
                  <button id="btn1" onclick="signUp()">tiến hành tạo tài khoản</button>
                  <button id="reset" onclick="reset()">Reset thông tin</button>
            </div>
      </div>

      <div class="updateFormOut" style="display: none;">
            <div id="updateForm">
                  <div style="text-align: left;">
                        <input type='hidden' id='PersonID'>
                        <h2>ACCOUNT update INFORMATION</h2>
                        <img id='currentAvatar' style="height:300px; width:auto"></img>
                        <figcaption>Hãy chọn ảnh đại diện mới nếu muốn đổi</figcaption>
                        <input type="hidden" id="oldAvatar">
                        <input type='file' id='myFileUpdate' style="width:100%;">
                        <p>Name</p><input type='text' id='usernameUpdate'>
                        <p>Email</p><input type="email" id="emailUpdate">

                        <p>Password</p><input type='password' id='passwordUpdate'
                              placeholder="update new passwork if you want to">
                        <p>Gender</p>
                        <select id='genderUpdate'>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="other">Other</option>
                        </select>
                        <p>Birthday</p><input type='date' id='birthdayUpdate'>
                        <p>Phone</p><input type='text' id='phoneUpdate'>
                        <p>Address</p><input type='text' id='addressUpdate'>
                        <input type='hidden' id='currentRole'>
                        <p>Role</p>
                        <select class='Role' id='roleUpdate' onchange="role('update')">
                              <option value="student">Student</option>
                              <option value="teacher">Teacher</option>
                        </select>
                  </div>
                  <div class='typeRole' style="text-align: left;">
                        <p>Chọn lộ trình học</p>
                        <select id='routeTypeSUpdate' onchange="routeType('update')"></select>
                        <p>Level</p>
                        <select id='levelSUpdate'></select>
                        <p>Aim</p>
                        <select id='AimUpdate'></select>
                        <p>Guardian name:</p><input type='text' name='guardianNameUpdate'>
                        <p> Guardian phone:</p> <input type='number' name='guardianPhoneUpdate'>
                        <p>Guardian email:</p><input type='text' name='guardianEmailUpdate'>
                  </div>
                  <button onclick="doUpdate()">tiến hành cập nhật thông tin tài khoản</button>

            </div>
      </div>


      <header> {{> adminHeader }}</header>

      <div class="body">
            <div class='leftSide'>
                  <div class="option">
                        <ul>
                              <li onclick='$(".createAccountOut").slideToggle();'>
                                    <button>Create account</button>
                              </li>
                              <li>
                                    <p>Filter:</p>
                                    <select id="accountFilter" onchange="getAccount(this.value,0)">
                                          <option value="teacher">teacher</option>
                                          <option value="student">student</option>
                                    </select>
                              </li>
                              <li>
                                    <input id='search' type='text' placeholder='Nhập email hoặc số điện thoại'>
                                    <button onclick="search('')">Search</button>
                              </li>
                        </ul>
                  </div>
                  <div class="tableAccount"></div>
                  <div id="soTrang"></div>
            </div>
            <div class='rightSide'>

            </div>

      </div>

      </div>
</body>

<script src=" /js/admin/createAccount.js"></script>

</html>