<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/jquery/jquery.js"></script>
        <link rel="stylesheet" href="/css/admin/menu.css">
        <link rel="stylesheet" href="/css/admin/layOut.css">
        <link rel="stylesheet" href="/css/admin/createRoute.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
        <div class="createRouteOut" style="display: none;">
                <div class="createRoute">
                        <div class="createFirstDIV">
                                <h2>Create route</h2>
                                Route name: <input type="text" name="routeName" id="routeName">
                                Description:<input type="text" name="description" id="description">
                                <button class='button' onclick="addStage('create')">Add Stage</button>
                        </div>
                        <div id="addStage" style="text-align: left;"></div>
                        <button class='button' onclick="doCreateRoute()" style="clear:both;">Submit</button>
                </div>
        </div>
        <div class="updateRouteOut" style="display: none;">
                <div class="updateRoute">
                        <div class="updateFirstDIV">
                                <h2>update route</h2>
                                <input type="hidden" id="routeIDUpdate">
                                Route name: <input type="text" name="routeName" id="routeNameUpdate">
                                Description: <input type="text" name="description" id="descriptionUpdate">
                                <button class='button' onclick="addStage('update')">Add Stage</button>
                        </div>
                        <div id="addStageUpdate" style="text-align: left;"></div>
                        <button class='button' onclick="doUpdateRoute()" style="clear:both;">Submit</button>
                </div>
        </div>

        <header> {{> adminHeader }}</header>
        
        <div class="body">
                <div class='leftSide'>
                        <div class="tr" id="option">
                                <div class='td'>
                                        <button onclick='$(".createRouteOut").fadeIn(500);'>Create Route</button>
                                </div>
                                <div class='td'>
                                        <input id='searchRoute' type='text' placeholder="Nhập tên lộ trình ">
                                        <button onclick="search()">Search</button>
                                </div>
                        </div>
                        <div class="tableRoute"></div>
                </div>
                <div class='rightSide'>
                        <div class="viewRoute" style="text-align: left !important;"></div>
                </div>
        </div>
        </div>
</body>
<script src="/js/admin/createRoute.js"></script>
</html>