<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
        <h2>Update Account INFORMATION</h2>
        <form method="post" action="/account/sign-up">
          <label for="facultyname">Name</label>
          <input type="text" name="username">
<br>
          <label for="topic">Email</label>
          <input type="email" name="email" class="emailinput">
<br>
          <label for="topic">Password</label> 
          <input type="password" name="password" >
<br>
          <label for="topic">Role</label>               
          <select class="Role" name="Role">
                <option value="student">Student</option>
                <option value="guardian">Guardian</option>
                <option value="teacher">Teacher</option>
          </select>     
<br>

          <label for="topic">Class ID</label>
                      <select name="facultyID">
                        {{#each faculty}}
                        <option value="{{facultyID}}" name="facultyID">{{facultyID}}</option>
                        {{/each}}
                        <option value="None" name="facultyID">None</option>
                      </select>
<br>
          <label for="topic">Birthday</label>
          <input type="date" name="birthday">
<br>
          <label for="topic">Phone</label>
          <input type="text" name="phone">
<br>
          <label for="topic">Address</label>
          <input type="text"  name="address">
<br>
          <button type="submit" class="btn5">Submit</button>
</form>
</body>
</html>