<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/jquery/jquery.js"></script>
</head>

<body>
        <h2>Create route</h2>
        <label>routeName </label>
        <input type="text" name="routeName" id="routeName">
        <br>
        <label>Description</label>
        <input type="text" name="description" id="description">
        <br>
        <label>Total of stage</label>
        <input type="number" name="totalStage" id="totalStage" onchange="totalStage()">
        <br>
        <label>route</label>
        <input type="text" name="route" id="route">
        <br>
        <label onclick="addRoute()">add stage</label>
        <div id="addRoute"></div>
        <br>
        <label>route</label>
        <input type="text" name="route" id="route">
        <br>
        <button type="submit" class="btn5">Submit</button>
</body>
<script>
        var route = 0;
        function totalStage() {
                var totalStage = $('#totalStage').val();
        }
        function addRoute() {
                route = route + 1
                var add = "<label>stage" + route + "</label><input type='text' name='" + route + "' id='stage'><br>"
                $('#addRoute').append(add)
        }

</script>

</html>