<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/css/teacher/schedule.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <header>
        <ul style="float:left;font-family:cursive;">
            <li style="width:200px"><i class="fas fa-graduation-cap" style="font-size:60px"></i>Sown English</li>
        </ul>
        <ul>
            <li><a href="#">Home page</a></li>
            <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutCourse').offset().top-100)},1000)">About
                    Course</a></li>
            <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutUs').offset().top-100)},1000)">About Us</a>
            </li>
            <li><a onclick="$('#loginForm').fadeIn(1000);">Log In</a></li>
        </ul>
    </header>
    <div class="body">
        <div id="lich">
            <table border="solid">
                <tr>
                    <select id='chonTuan' onchange="tuanoi()"></select>
                </tr>
                <tr id='ngay'>
                    <th>Ngày</th>
                </tr>
                <tr id='thu'>
                    <th>Day of week</th>
                    <td>Thứ 2</td>
                    <td>Thứ 3</td>
                    <td>Thứ 4</td>
                    <td>Thứ 5</td>
                    <td>Thứ 6</td>
                    <td>Thứ 7</td>
                    <td>CN</td>
                </tr>
                <tr id='lichhoc'>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
    {{!-- nam() --}}

</body>
<script>
    $(document).ready(function () {
        test()
    });

    function test() {
        for (var arr = [], dt = new Date("2021-01-01"); dt <= new Date("2021-12-31"); dt.setDate(dt.getDate() + 1)) {
            var date = new Date(dt)
            var month = (date.getMonth() + 1).toString().padStart(2, "0");
            var lol = date.getFullYear() + "-" + month + "-" + date.getDate().toString().padStart(2, "0");
            arr.push({ "ngay": lol, "thu": (date.getDay() + 1) });
        }
        var tuan = []
        var check = false
        var check2 = false
        for (var i = 0; i < arr.length; i++) {
            var d = new Date(arr[i].ngay);
            var n = d.getDay();
            if (arr[i].thu != 2 && i < 7 && check2 == false) {
                tuan.push(arr[i].ngay + ' đến ' + arr[7 - n].ngay)
                check2 = true
            }
            if (arr[i].thu == 2 && (i + 7) < arr.length) {
                tuan.push(arr[i].ngay + ' đến ' + arr[i + 6].ngay)
            }
            if (arr[i].thu != 2 && (i + 7) > arr.length && check == false) {
                tuan.push(arr[i + 1].ngay + ' đến ' + arr[arr.length - 1].ngay)
                check = true
            }
        }
        const date1 = new Date();
        var year = date1.getFullYear()
        var month = date1.getMonth() + 1
        var now = date1.getFullYear() + "-" + month.toString().padStart(2, "0") + "-" + date1.getDate();
        for (var u = 0; u < tuan.length; u++) {
            $("#chonTuan").append('<option value="' + tuan[u] + '">' + tuan[u] + '</option>');
            var lkjhg = tuan[u]
            dauTuan = lkjhg.split(" đến ")[0]
            cuoiTuan = lkjhg.split(" đến ")[1]
            if ((dauTuan < now) && (now < cuoiTuan)) {
                $('#chonTuan option:selected').removeAttr('selected');
                $("#chonTuan option[value='" + tuan[u] + "']").attr('selected', 'selected');
            }
        }
        tuanoi()

    };

    //lấy các ngày trong khoảng thời gian học
    var getDaysArray = function (start, end) {
        for (var arr = [], dt = new Date(start); dt <= end; dt.setDate(dt.getDate() + 1)) {
            arr.push(new Date(dt));
        }
        return arr;
    };

    function tuanoi() {
        var tuan = $("#chonTuan").val()
        var dauTuan = tuan.split(" đến ")[0]
        var cuoiTuan = tuan.split(" đến ")[1]
        var formData = {
            dauTuan: dauTuan,
            cuoiTuan: cuoiTuan
        }
        var a = getDaysArray(new Date(dauTuan), new Date(cuoiTuan));
        $("#ngay").html("<th>Ngày</th>")
        a.forEach(element => $("#ngay").append("<td>" + (element.getFullYear() + "-" + (element.getMonth() + 1).toString().padStart(2, "0") + "-" + element.getDate()) + "</td>"));
        $.ajax({
            url: '/teacher/getSchedule',
            method: 'get',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    console.log(response.classInfor)
                    $.each(response.classInfor, function (index, classInfor) {
                        $.each(classInfor.schedule, function (index, schedule) {
                            if (dauTuan < schedule.date && schedule.date < cuoiTuan) {
                                $("#lichhoc").html("<td></td><td></td><td></td><td></td><td></td><td></td><td></td>")
                                $("#lich td:nth-child(3)").append(classInfor.className)
                            }
                        });
                    });
                }
                if (response.msg == 'error') {
                    alert("error")
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }
</script>

</html>