<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/css/teacher/schedule.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />\
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>

<body>
    <header>
        <ul style="float:left;font-family:cursive;">
            <li style="width:200px"><i class="fas fa-graduation-cap" style="font-size:60px"></i>Sown English</li>
        </ul>
        <ul>
            <li><a href="#">Home page</a></li>
            <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutCourse').offset().top-100)},1000)">About
                    Course</a></li>
            <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutUs').offset().top-100)},1000)">About Us</a>
            </li>
            <li><a onclick="$('#loginForm').fadeIn(1000);">Log In</a></li>
        </ul>
    </header>
    <div class="body">
        <div id="lich">
            <table border="solid">
                <tr>
                    <select id='chonTuan' onchange="tuanoi()"></select>
                </tr>
                <tr id='ngay'>
                    <th>Ngày</th>
                </tr>
                <tr id='thu'>
                    <th>Day of week</th>
                    <td>Thứ 2</td>
                    <td>Thứ 3</td>
                    <td>Thứ 4</td>
                    <td>Thứ 5</td>
                    <td>Thứ 6</td>
                    <td>Thứ 7</td>
                    <td>CN</td>
                </tr>
                <tr id='lichhoc'>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
    {{!-- nam() --}}

</body>
<script>
    $(document).ready(function () {
        test()
    });

    function test() {
        //lấy các ngày trong năm
        for (var arr = [], dt = new Date("2021-01-01"); dt <= new Date("2021-12-31"); dt.setDate(dt.getDate() + 1)) {
            var date = new Date(dt)
            var month = (date.getMonth() + 1).toString().padStart(2, "0");
            var lol = date.getFullYear() + "-" + month + "-" + date.getDate().toString().padStart(2, "0");
            arr.push({ "ngay": lol, "thu": (date.getDay() + 1) });
        }
        //chia thành các tuần từ thứ 2 đến CN
        var tuan = []
        var check = false
        var check2 = false
        for (var i = 0; i < arr.length; i++) {
            var d = new Date(arr[i].ngay);
            var n = d.getDay();
            if (arr[i].thu != 2 && i < 7 && check2 == false) {
                tuan.push(arr[i].ngay + ' đến ' + arr[7 - n].ngay)
                check2 = true
            }
            if (arr[i].thu == 2 && (i + 7) < arr.length) {
                tuan.push(arr[i].ngay + ' đến ' + arr[i + 6].ngay)
            }
            if (arr[i].thu != 2 && (i + 7) > arr.length && check == false) {
                tuan.push(arr[i + 1].ngay + ' đến ' + arr[arr.length - 1].ngay)
                check = true
            }
        }
        //đưa các tuần vào thẻ select và đặt select cho tuần hiện tại.
        const date1 = new Date();
        var year = date1.getFullYear()
        var month = date1.getMonth() + 1
        //lấy thời gian hiện tại để so sánh và lấy tuần
        var now = date1.getFullYear() + "-" + month.toString().padStart(2, "0") + "-" + date1.getDate();
        for (var u = 0; u < tuan.length; u++) {
            $("#chonTuan").append('<option value="' + tuan[u] + '">' + tuan[u] + '</option>');
            dauTuan = tuan[u].split(" đến ")[0]
            cuoiTuan = tuan[u].split(" đến ")[1]
            if ((dauTuan <= now) && (now <= cuoiTuan)) {
                $('#chonTuan option:selected').removeAttr('selected');
                $("#chonTuan option[value='" + tuan[u] + "']").attr('selected', 'selected');
            }
        }
        //lấy thông tin lịch trình học, làm việc
        tuanoi()

    };

    //lấy các ngày trong khoảng thời gian học
    var getDaysArray = function (start, end) {
        for (var arr = [], dt = new Date(start); dt <= end; dt.setDate(dt.getDate() + 1)) {
            arr.push(new Date(dt));
        }
        return arr;
    };

    //lấy thông tin lịch trình học, làm việc
    function tuanoi() {
        var tuan = $("#chonTuan").val()
        var dauTuan = tuan.split(" đến ")[0]
        var cuoiTuan = tuan.split(" đến ")[1]
        var formData = {
            dauTuan: dauTuan,
            cuoiTuan: cuoiTuan
        }
        //chỉnh fomat date giống Type Date trong mongoDB để so sánh 
        // link src hàm moment ở head
        var start = moment(new Date(dauTuan)).format('YYYY-MM-DD[T00:00:00.000Z]');
        var end = moment(new Date(cuoiTuan)).format('YYYY-MM-DD[T00:00:00.000Z]');
        var a = getDaysArray(new Date(dauTuan), new Date(cuoiTuan));
        $("#ngay").html("<th>Ngày</th>")
        //tùy biến ngày vào html
        a.forEach(element => {
            $("#ngay").append("<td>" + (element.getFullYear() + "-" + (element.getMonth() + 1).toString().padStart(2, "0") + "-" + element.getDate()) + "</td>")
        });
        //lấy thông tin lịch học
        $.ajax({
            url: '/teacher/getSchedule',
            method: 'get',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    $("#lichhoc").html("<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>")
                    console.log(response.classInfor)
                    $.each(response.classInfor, function (index, classInfor) {
                        $.each(classInfor.schedule, function (index, schedule) {
                            if (start <= schedule.date && schedule.date <= end) {
                                //ghi thông tin lịch học, làm việc vào bảng
                                $("#lichhoc td:nth-child(" + schedule.day + ")").append(classInfor.className +" Room:"+ schedule.room+ "<br>" + schedule.time + "<br>"  )
                            }
                        });
                    });
                }
                if (response.msg == 'error') {
                    alert("error")
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }
</script>

</html>