<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>

    <style>
        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <p><a href='/account/homeTeacher'>Trang chủ Teacher</a></p>
    <p><a onclick='teacherProfile()'>Teacher Profile</a></p>
    <p><a href='/teacher/allClass'>Class</a></p>
    <p><a onclick="proposalT(0)">Teacher All Extracurricular Activities</a></p>
    <p><a onclick="allEvent()">Events</a></p>
    <p><a href='/messenger/chatForm'>Teacher Messenge</a></p>
</body>
<div class="content" style="text-align: center; display:none">
    <h1>Marketing Coordinator profile</h1>
    <table border="solid">
        <tr>
            <th onclick="closeProfile()">Close</th>
        </tr>
        <tr>
            <th>Username</th>
            <td id='usernameProfile'></td>
        </tr>
        <tr>
            <th>Email</th>
            <td id='emailProfile'></td>
        </tr>
        <tr>
            <th>classID</th>
            <td id='classIDProfile'></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td id='phoneProfile'></td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td id='birthdayProfile'></td>
        </tr>
        <tr>
            <th>Address</th>
            <td id='addressProfile'></td>
        </tr>
        <td><a href="/coordinator/update{{_id}}">Update</a></td>
        </tr>
    </table>
</div>

<div id="loading" style="display:none">
    <img src="/images/loadingWalking.gif" alt="Loading..." />
</div>



<div id="viewProposal"></div>
<div class="allEvent" style="display: none;">
        <div id="table1">
        </div>
    </div>


    <div class="uploadEventProposal" style="display:none;">
        <p id="uploadEventProposalID"></p>
        <input type="file" id='myUploadProposal'>
        <button onclick="doUploadEventProposal()">Submit</button>
    </div>
<script src=" /teacherHome.js"></script>

</html>