<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>

    <style>
        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <p><a href='/account/homeTeacher'>Trang chủ Teacher</a></p>
    <p><a onclick='teacherProfile()'>Teacher Profile</a></p>
    <p><a href='/teacher/allClass'>Class</a></p>
    <p><a onclick="proposalT()">Teacher All Extracurricular Activities</a></p>
    <p><a href='/messenger/chatBoxHistory'>Teacher Messenge</a></p>
</body>
<div class="content" style="text-align: center; display:none">
    <h1>Marketing Coordinator profile</h1>
    <table border="solid">
        <tr>
            <th onclick="closeProfile()">Close</th>
        </tr>
        <tr>
            <th>Username</th>
            <td id='usernameProfile'></td>
        </tr>
        <tr>
            <th>Email</th>
            <td id='emailProfile'></td>
        </tr>
        <tr>
            <th>classID</th>
            <td id='classIDProfile'></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td id='phoneProfile'></td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td id='birthdayProfile'></td>
        </tr>
        <tr>
            <th>Address</th>
            <td id='addressProfile'></td>
        </tr>
        <td><a href="/coordinator/update{{_id}}">Update</a></td>
        </tr>
    </table>
</div>
<div id="loading" style="display:none">
    <img src="/images/loadingWalking.gif" alt="Loading..." />
</div>
<div class="proposal" style="display: none;">
    <div id="table">
        <div class="tr">
            <div class="td"><input type="text"></div>
            <div class="td"><button>Find</button></div>
            <div class="td">
                <div class="uploadFile" style="display: none;">
                    <input type="text" id="proposalName">
                    <input type="text" id="proposalContent">
                    <select id="proposalType">
                        <option value="extracurricularActivities">Extracurricular Activities</option>
                        <option value="event">Event</option>
                        <option value="teaching">Teaching</option>
                        <option value="other">Other</option>
                    </select>
                    <input type="file" id="myUploadProposal">
                    <button onclick="uploadNewProposal()">Upload New file</button>
                </div>
                <button onclick="createNewProposal()">Create New Proposal</button>
            </div>
            <div class="td">
                <select id="proposalFilter" onchange="proposalFilter()">
                    <option value="all">All</option>
                    <option value="extracurricularActivities">Extracurricular Activities</option>
                    <option value="event">Event</option>
                    <option value="teaching">Teaching</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="td"></div>
            <div class="td"><button onclick="closeProposal()">&times;</button></div>
        </div>
        <div class="tr">
            <div class="td">Name</div>
            <div class="td">Content</div>
            <div class="td">Type</div>
            <div class="td">Upload Date</div>
            <div class="td">Status</div>
            <div class="td">Action</div>
        </div>
    </div>
</div>

<div class="proposalUpdate" style="display: none;">
    <input type="text" id="proposalNameUpdate">
    <input type="text" id="proposalContentUpdate">
    <select id="proposalType">
        <option value="extracurricularActivities">Extracurricular Activities</option>
        <option value="event">Event</option>
        <option value="teaching">Teaching</option>
        <option value="other">Other</option>
    </select>
    <input type="file" id="myUploadProposal">
    <button onclick="uploadNewProposal()">Upload New file</button>
</div>


<div id="viewProposal"></div>
<script>
    var fileData;
    var myFile;
    $(document).ready(function () {
        $('.proposal').slideUp()
        $(".uploadFile").slideUp();
        $('.proposalUpdate').slideUp()

    });

    function createNewProposal() {
        $(".uploadFile").slideToggle();
    }
    function teacherProfile() {
        $.ajax({
            url: '/teacher/teacherProfile',
            method: 'get',
            dataType: 'json',
            data: {},
            success: function (response) {
                if (response.msg == 'success') {
                    $(".content").show();
                    $("#usernameProfile").html(response.data.username);
                    $("#emailProfile").html(response.data.email);
                    $("#classIDProfile").html(response.data.classID);
                    $("#phoneProfile").html(response.data.phone);
                    $("#birthdayProfile").html(response.data.birthday);
                    $("#addressProfile").html(response.data.address);
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }
    function closeProfile() {
        $(".content").hide();
    }
    $('#myUploadProposal').on('change', function () {
        var filereader = new FileReader();
        filereader.onload = function (event) {
            fileData = event.target.result;
            var dataURL = filereader.result;
        };
        myFile = $('#myUploadProposal').prop('files')[0];
        console.log('myUploadProposal', myFile)
        filereader.readAsDataURL(myFile)
    });

    function proposalT() {
        $("#loading").show();
        $(".tr1").remove();
        $.ajax({
            url: '/teacher/allProposal',
            method: 'get',
            dataType: 'json',
            success: function (response) {
                if (response.msg == 'success') {
                    $.each(response.data, function (index, data) {
                        var content = "<div class='tr1'><div class='td' onclick=view('" + data.file + "')>" + data.proposalName + "</div><div class='td'>" + data.Content + "</div><div class='td'>" + data.proposalType + "</div><div class='td'>" + data.uploadDate + "</div><div class='td'>" + data.Status + "</div><div class='td'><button onclick=updateProposal('" + data._id + "')>update</button><button onclick=deleteProposal('" + data._id + "')>delete</button></div>"
                        $("#table").append(content);
                    })
                    $("#loading").hide();
                    $('.proposal').slideDown(1000)
                }
                if (response.msg == 'error') {
                    alert(' error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }

    function updateProposal(id){
        $(".proposalUpdate").slideToggle();
    }

    function view(base64) {
        $('#viewProposal').append('<button onclick="cancelProposal()">&times;</button><iframe  src="data:application/pdf;base64,' + base64 + '" height="350px" width="100%"></iframe>');
    }

    function cancelProposal() {
        $('#viewProposal').html('')
    }

    function closeProposal() {
        $('.proposal').slideUp()
    }

    function uploadNewProposal() {
        var formData = {
            filename: myFile.name,
            file: fileData,
            proposalName: $("#proposalName").val(),
            proposalContent: $("#proposalContent").val(),
            proposalType: $("#proposalType").val(),
        };
        $.ajax({
            url: '/teacher/uploadNewProposal',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function (response) {
                if (response.msg == 'success') {
                    alert('Upload proposal success');
                    proposalT()
                }
                if (response.msg == 'error') {
                    alert('Upload proposal error');
                }
            },
            error: function (response) {
                alert('server error');
            }
        })
    }
    $("#proposalFilter").on("change", function () {
        var value = $(this).val().toLowerCase();
        if (value == "all") {
            $("#table .tr1").slideDown()
        } else {
            $("#table .tr1").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        }
    });


    function deleteProposal(id) {
        var _id = id
        var confirmDelete = confirm("Delete this proposal");
        if (confirmDelete == true) {
            $.ajax({
                url: '/teacher/deleteProposal',
                method: 'post',
                dataType: 'json',
                data: { abc: _id },
                success: function (response) {
                    if (response.msg == 'success') {
                        proposalT();
                        alert(' success');
                    }
                    if (response.msg == 'error') {
                        alert(' error');
                    }
                },
                error: function (response) {
                    alert('server error');
                }
            })
        }
    }
</script>

</html>