<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <style>
        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }

        i {
            font-size: 30px;
        }

        .content {
            width: 50%;
        }

        .content img {
            height: 100px;
            border-radius: 100%;
        }

        .content :nth-child(1) div {
            border: none;
            padding: 8px;
            background-color: rgb(67, 55, 55);
            text-align: right;
            width: 100%;
            font-size: 18px;
        }


        .content :nth-child(1) button {

            padding: 8px;
            text-align: right;
            cursor: pointer;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover,
        a:hover {
            opacity: 0.7;
        }
    </style>
</head>

<body>
    <div class="tr">
        <div class="td" onclick="location.href='/account/homeTeacher';"><i class="fas fa-house-user"></i> Trang chủ
            teacher</div>
        <div class="td" onclick='teacherProfile()'><i class="fas fa-address-card"></i> teacherProfile </div>
        <div class="td" onclick="location.href='/teacher/allClass'"><i class="fas fa-list-alt"></i> Class </div>
        <div class="td" onclick="location.href='/teacher/schedule'"><i class="fas fa-list-alt"></i> Schedule </div>
        <div class="td" onclick="allEvent()"><i class="fas fa-list-alt"></i> allEvent</div>
        <div class="td" onclick="location.href='/messenger/chatForm';"><i class="fas fa-comment-dots"></i>Teacher
            Messenge</div>
        <div class="td"><i class="fas fa-sign-out-alt"></i> Log Out</div>
    </div>
</body>
<div class="content" style="text-align: center; display:none">
    <div>Teacher profile
        <button onclick="$('.content').fadeOut(1000);" style="float: ;"><i class="fas fa-window-close"></i></button>
    </div>
    <div>
        <img id='avatarProfile' src="">
        <p id='idProfile' style="display:none"></p>
        <p id='usernameProfile'></p>
        <p id='genderProfile'></p>
        <p id='emailProfile'></p>
        <p id='phoneProfile'></p>
        <p id='birthdayProfile'></p>
        <p id='addressProfile'></p>
        <p><button onclick="updateProfile()">Update</button></p>
    </div>
</div>


<div class="content1" style="text-align: center; display:none">
    <div>Teacher profile
        <button onclick="$('.content1').fadeOut(1000);" style="float: ;"><i class="fas fa-window-close"></i></button>
    </div>
    <div>
        Old avatar: <img id='avatarOldProfile' style='max-width:100px;max-height:100px'></img><br>


        <label>Update Avatar</label><br>
        Select images:<input type='file' id='myFile'><br>
        <img id='output' style='height:3cm; width:3cm'><br>
        <input id='idProfileUpdate' style="display:none"></input>
        Full Name: <input id='usernameUpdate'></input><br>
        New password: <input id='newPassWord'></input><br>
        Gender: <input id='genderUpdate'></input><br>
        Email: <input id='emailUpdate'></input><br>
        Phone: <input id='phoneUpdate'></input><br>
        BirthDay: <input id='birthdayUpdate'></input><br>
        Address: <input id='addressUpdate'></input><br>
        <p><button onclick="doUpdateProfile()">Update</button></p>
    </div>
</div>
<script src=" /teacherHome.js"></script>

</html>