<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
    <p><a href='/account/homeTeacher'>Trang chủ Teacher</a></p>
    <p><a href='/teacher/teacherProfile'>Teacher Profile</a></p>
    <p><a href='/teacher/allClass'>Class</a></p>
    <p><a href='/teacher/allextracurricularActivities'>Teacher All Extracurricular Activities</a></p>
    <p><a href='/teacher/allChat'>Teacher Messenge</a></p>
</body>

</html>