<!DOCTYPE html>
<html>

<head>
    <script src="/jquery/jquery.js"></script>

    <style>
        #loading {
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loading img {
            margin: auto;
            display: block;
            top: calc(50% - 100px);
            left: calc(50% - 10px);
            position: absolute;
            z-index: 999999;
        }

        #table {
            display: table;
            padding: 5px;
        }

        .tr {
            display: table-row;
            padding: 5px;
        }

        .tr1 {
            display: table-row;
            padding: 5px;
        }

        .td {
            display: table-cell;
            padding: 5px;
            width: 300px;
            border: #000000 solid 1px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <p><a href='/account/homeTeacher'>Trang chủ Teacher</a></p>
    <p><a onclick='teacherProfile()'>Teacher Profile</a></p>
    <p><a href='/teacher/allClass'>Class</a></p>
    <p><a onclick="proposalT()">Teacher All Extracurricular Activities</a></p>
    <p><a href='/messenger/chatForm'>Teacher Messenge</a></p>
</body>
<div class="content" style="text-align: center; display:none">
    <h1>Marketing Coordinator profile</h1>
    <table border="solid">
        <tr>
            <th onclick="closeProfile()">Close</th>
        </tr>
        <tr>
            <th>Username</th>
            <td id='usernameProfile'></td>
        </tr>
        <tr>
            <th>Email</th>
            <td id='emailProfile'></td>
        </tr>
        <tr>
            <th>classID</th>
            <td id='classIDProfile'></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td id='phoneProfile'></td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td id='birthdayProfile'></td>
        </tr>
        <tr>
            <th>Address</th>
            <td id='addressProfile'></td>
        </tr>
        <td><a href="/coordinator/update{{_id}}">Update</a></td>
        </tr>
    </table>
</div>
<div id="loading" style="display:none">
    <img src="/images/loadingWalking.gif" alt="Loading..." />
</div>
<div class="proposal" style="display: none;">
    <div id="table">
        <div class="tr">
            <div class="td"><input type="text"></div>
            <div class="td"><button>Find</button></div>
            <div class="td">
                <div class="uploadFile" style="display: none;">
                    <input type="text" id="proposalName">
                    <input type="text" id="proposalContent">
                    <select id="proposalType">
                        <option value="extracurricularActivities">Extracurricular Activities</option>
                        <option value="event">Event</option>
                        <option value="teaching">Teaching</option>
                        <option value="other">Other</option>
                    </select>
                    <input type="file" id="myUploadProposal">
                    <button onclick="uploadNewProposal()">Upload New file</button>
                </div>
                <button onclick="createNewProposal()">Create New Proposal</button>
            </div>
            <div class="td">
                <select id="proposalFilter" onchange="proposalFilter()">
                    <option value="all">All</option>
                    <option value="extracurricularActivities">Extracurricular Activities</option>
                    <option value="event">Event</option>
                    <option value="teaching">Teaching</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="td"></div>
            <div class="td"><button onclick="closeProposal()">&times;</button></div>
        </div>
        <div class="tr">
            <div class="td">Name</div>
            <div class="td">Content</div>
            <div class="td">Type</div>
            <div class="td">Upload Date</div>
            <div class="td">Status</div>
            <div class="td">Action</div>
        </div>
    </div>
</div>

<div class="proposalUpdate" style="display: none;">
    <input type="text" id="IDproposalNameUpdate">
    <input type="text" id="proposalNameUpdate">
    <input type="text" id="proposalContentUpdate">
    <select id="updateProposalType">
        <option value="extracurricularActivities">Extracurricular Activities</option>
        <option value="event">Event</option>
        <option value="teaching">Teaching</option>
        <option value="other">Other</option>
    </select>
    <input type="file" id="updateProposal">
    <button onclick="doUpdateProposal()">Upload New file</button>
    <button onclick="closeuploadNewProposal()">&times;</button>

</div>


<div id="viewProposal"></div>
<script src=" /teacherHome.js"></script>


</html>