
    <ul style="float:left;font-family:cursive;">
        <li style="width:200px">Sown English</li>
    </ul>
    <ul>
        <li onclick="location.href='/account/homeStudent';">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Trang chủ Student
        </li>
        <li onclick="location.href='/student/allClass/0'">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Class
        </li>
        <li onclick="location.href='/messenger/chatForm';">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            Messenger
        </li>
        <li id='welcome' style="width: auto;"></li>
        <li style="width: 60px;text-align:left">
            <div style="background-color:lightpink;display:none;height:10px"></div>
            <i class="fas fa-sign-out-alt fa-lg"></i>
        </li>
    </ul>
