<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
    <p><a href='/account/homeStudent'>Trang chủ Student</a></p>
    <p><a href='/student/allClass'>Môn học</a></p>
    <p><a href='/student/viewschedule'>Lịch học</a></p>
    <p><a href='/student/studentProfile'>thông tin học sinh</a></p>
</body>

</html>