<!DOCTYPE html>
<html>

<head>
  <script src="/jquery/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
  <link rel="stylesheet" href="/css/index/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>
  <header>
    <div id="menu">
      <ul>
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Thông tin khóa học</a></li>
        <li><a href="/aboutus">Về chúng tôi</a></li>
        <li><a onclick="$('#consulting').fadeIn(1000);">Đăng ký tư vấn</a></li>
        <li><a onclick="$('#loginForm').fadeIn(1000);">Đăng nhập</a></li>
      </ul>
    </div>
  </header>
  <table id='consulting' border="solid" style="display:none;">
    <tr>
      <th>Điền thông tin tại đây</th>
    </tr>
    <tr>
      <th>Name:</th>
      <th><input type='text' id='consultingName'></th>
    </tr>
    <tr>
      <th>Email:</th>
      <th><input type='text' id='consultingEmail'></th>
    </tr>
    <tr>
      <th>Phone:</th>
      <th><input type='text' id='consultingPhone'></th>
    </tr>
    <tr>
      <th>Purpose:</th>
      <th><input type='text' id='consultingPurpose'></th>
    </tr>
    <tr>
      <th>What time of day consultation?:</th>
      <th><input type='time' id='consultingTime'></th>
    </tr>
    <tr>
      <th>Consulting via:</th>
      <th>
        <select id="consultingVia">
          <option value="email">Email</option>
          <option value="phone">Phone</option>
        </select>
      </th>
    </tr>
    <tr>
      <th><button onclick="consulting()">submit</button></th>
      <th><button onclick="$('#consulting').fadeOut(1000);">CLose</button></th>
    </tr>

  </table>
  <div id="loginForm">
    <p>Đăng nhập</p>
    <hr style="  box-shadow: 0 10px 10px -10px #8c8c8c inset;">
    {{!-- <br action="/account/dologin" method="post"> --}}
      {{!-- <p>Username:</p> --}}
      <input type="text" name="username" placeholder="Username">
      {{!-- <p>Password:</p> --}}

      <input type="password" name="password" placeholder="Password">
      <div>
        <button>Log In</button>
        <button onclick="$('#loginForm').fadeOut(1000);"><i class="fas fa-times fa-lg" ></i></button>
      </div>

      {{!--
    </form> --}}

  </div>

  <article>

  </article>

  <footer>Copyright &copy; 2016 dammio.com</footer>
  <div class="slideshow-container">
    <h2>Freetus.net hướng dẫn tạo slideShow đơn giản</h2>
    <div class="mySlides fade">
      <img src="./images/slide-1.jpg" style="width:100%">
      <div class="text">Nội dung caption của slide đầu tiên!</div>
    </div>

    <div class="mySlides fade">
      <img src="./images/slide-2.jpg" style="width:100%">
      <div class="text">Nội dung caption của slide thứ 2!</div>
    </div>

    <div class="mySlides fade">
      <img src="./images/slide-3.jpg" style="width:100%">
      <div class="text">Nội dung caption của slide thứ 3!</div>
    </div>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>


</body>


<script>
  function consulting() {
    formData = {
      name: $("#consultingName").val(),
      Email: $("#consultingEmail").val(),
      phone: $("#consultingPhone").val(),
      purpose: $("#consultingPurpose").val(),
      consultingTime: $("#consultingTime").val(),
      consultingVia: $("#consultingVia").val(),
    }
    $.ajax({
      url: '/consulting',
      method: 'post',
      dataType: 'json',
      data: formData,
      success: function (response) {
        if (response.msg == 'success') {
          alert(' success');
        }
        if (response.msg == 'error') {
          alert(' error');
        }
      },
      error: function (response) {
        alert('server error');
      }
    })
  }

  //khai báo biến slideIndex đại diện cho slide hiện tại
  var slideIndex;
  // KHai bào hàm hiển thị slide
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndex].style.display = "block";
    dots[slideIndex].className += " active";
    //chuyển đến slide tiếp theo
    slideIndex++;
    //nếu đang ở slide cuối cùng thì chuyển về slide đầu
    if (slideIndex > slides.length - 1) {
      slideIndex = 0
    }
    //tự động chuyển đổi slide sau 5s
    setTimeout(showSlides, 5000);
  }
  //mặc định hiển thị slide đầu tiên 
  showSlides(slideIndex = 0);


  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
</script>

</html>