<!DOCTYPE html>
<html>

<head>
  <script src="/jquery/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
  <link rel="stylesheet" href="/css/index/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>
{{!-- $('header').css('background-color', 'rgba(209, 189, 189, 0.4)') --}}

<body>
  <div id='consulting' border="solid" style="display: none;">
    <div id='consultingContent'>
      <p>Điền thông tin tại đây</p>
      <hr style="  box-shadow: 0 10px 10px -10px #8c8c8c inset;">
      <input type="text" id='consultingName' placeholder="Your Name">
      <input type="text" id='consultingEmail' placeholder="Your email">
      <input type='text' id='consultingPhone' placeholder="Your phone">
      <input type='text' id='consultingPurpose' placeholder="Ask for">
      <p id='xx'>Consulting via:</p>
      <select id="consultingVia" placeholder="Your email">
        <option value="email">Email</option>
        <option value="phone">Phone</option>
      </select>
      <div>
        <button onclick="consulting()">Submit</button>
        <button onclick="$('#consulting').fadeOut(1000);"><i class="fas fa-times fa-lg"></i></button>
      </div>
    </div>
  </div>

  <div id="loginForm" style="display: none;">
    <div id="loginFormContent">
      <p>Đăng nhập</p>
      <hr style="  box-shadow: 0 10px 10px -10px #8c8c8c inset;">
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <div>
        <button onclick="logIn()">Log In</button>
        <button onclick="$('#loginForm').fadeOut(1000);"><i class="fas fa-times fa-lg"></i></button>
      </div>
    </div>
  </div>
  <header>
    <ul>
      <li><a href="#">Home page</a></li>
      <li><a href="#">About Course</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a onclick="$('#consulting').fadeIn(1000);">Consultation</a></li>
      <li><a onclick="$('#loginForm').fadeIn(1000);">Log In</a></li>
    </ul>
  </header>
  <div id='img1'>
    <img
      src="https://previews.123rf.com/images/melpomen/melpomen1801/melpomen180100671/94288780-learn-english-text-with-little-girl-using-a-laptop-computer-on-floor.jpg">
  </div>
  <div id='aboutUs'>
    <div>
      <img style="max-width: 400px;max-height: 400px;display: block;margin-left: auto;margin-right: auto;"
        src="http://amadosoftwaresolutions.com/wp-content/uploads/2018/01/about-us1.png">
    </div>
    <div>
      Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ thể khác bằng ký hiệu gọi là chữ
      viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình thức, có tính liên kết chặt chẽ và
      hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt
      các thông tin từ chủ thể này sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn
      vẹn về nội dung, hoàn chỉnh về hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất
      định.Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ
      thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình
      thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương tiện
      để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó
      gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình thức, có tính liên kết chặt chẽ và hướng tới
      một mục tiêu giao tiếp nhất định.
    </div>
  </div>
  <hr>
  <div id='aboutCourse'>
    <div>
      Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này
      sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về
      hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương
      tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ thể khác bằng ký hiệu gọi là chữ
      viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình thức, có tính liên kết chặt chẽ và
      hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt
      các thông tin từ chủ thể này sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn
      vẹn về nội dung, hoàn chỉnh về hình thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất
      định.Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ
      thể khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình
      thức, có tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.Văn bản là một loại hình phương tiện
      để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ thể khác bằng ký hiệu gọi là chữ viết. Nó
      gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình thức, có tính liên kết chặt chẽ và hướng tới
      một mục tiêu giao tiếp nhất định.
    </div>
    <div>
      <img style="max-width: 400px;max-height: 320px;display: block;margin-left: auto;margin-right: auto;"
        src="https://image.freepik.com/free-vector/knowledge-tree-from-open-book-white-background_88114-67.jpg">
      <p style="text-align: center;font-size:30px;">About Lesson Plan</p>

    </div>
  </div>

  {{!-- <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="http://static.ybox.vn/2021/5/0/1620551371472-studyingenglish.jpg">
    </div>
    <div class="mySlides fade">
      <img
        src="https://previews.123rf.com/images/melpomen/melpomen1801/melpomen180100671/94288780-learn-english-text-with-little-girl-using-a-laptop-computer-on-floor.jpg">
    </div>
    <div class="mySlides fade">
      <img src="https://cdn.cdnparenting.com/articles/2018/04/589957931-H.jpg">
    </div>
  </div> --}}







</body>


<script>

  $(window).on('click', function (e) {
    if ($(e.target).is('#loginForm')) {
      $('#loginForm').fadeOut(500);
    }
    if ($(e.target).is('#consulting')) {
      $('#consulting').fadeOut(500);
    }
  });


  function logIn() {
    var formData = {
      username: $("#username").val(),
      password: $("#password").val()
    }
    $.ajax({
      url: '/account/dologin',
      method: 'post',
      data: formData,
      success: function (response) {
        if (response.msg == 'success') {
          window.location.href = '/account/' + response.data;
        }
        if (response.msg == 'invalid_Info') {
          alert('Username or password is invalid');
        }
        if (response.msg == 'error') {
          alert(' error');
        }
      },
      error: function (response) {
        alert('server error');
      }
    })
  }

  function consulting() {
    formData = {
      name: $("#consultingName").val(),
      Email: $("#consultingEmail").val(),
      phone: $("#consultingPhone").val(),
      purpose: $("#consultingPurpose").val(),
      consultingTime: $("#consultingTime").val(),
      consultingVia: $("#consultingVia").val(),
    }
    $.ajax({
      url: '/consulting',
      method: 'post',
      dataType: 'json',
      data: formData,
      success: function (response) {
        if (response.msg == 'success') {
          alert(' success');
        }
        if (response.msg == 'error') {
          alert(' error');
        }
      },
      error: function (response) {
        alert('server error');
      }
    })
  }

  //khai báo biến slideIndex đại diện cho slide hiện tại
  var slideIndex;
  // KHai bào hàm hiển thị slide
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndex].style.display = "block";
    dots[slideIndex].className += " active";
    //chuyển đến slide tiếp theo
    slideIndex++;
    //nếu đang ở slide cuối cùng thì chuyển về slide đầu
    if (slideIndex > slides.length - 1) {
      slideIndex = 0
    }
    //tự động chuyển đổi slide sau 5s
    setTimeout(showSlides, 5000);
  }
  //mặc định hiển thị slide đầu tiên 
  showSlides(slideIndex = 0);


  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
</script>

</html>