<!DOCTYPE html>
<html>

<head>
  <script src="/jquery/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
  <link rel="stylesheet" href="/css/index/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>
{{!-- $('header').css('background-color', 'rgba(209, 189, 189, 0.4)') --}}

<body>
  <header>
    <ul>
      <li><a href="#">Home page</a></li>
      <li><a href="#">About Course</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a onclick="$('#consulting').fadeIn(1000);">Consultation</a></li>
      <li><a onclick="$('#loginForm').fadeIn(1000);">Log In</a></li>
    </ul>
  </header>

  <div id='consulting' border="solid">
    <div id='consultingContent'>
      <p>Điền thông tin tại đây</p>
      <hr style="  box-shadow: 0 10px 10px -10px #8c8c8c inset;">
      <input type="text" id='consultingName' placeholder="Your Name">
      <input type="text" id='consultingEmail' placeholder="Your email">
      <input type='text' id='consultingPhone' placeholder="Your phone">
      <input type='text' id='consultingPurpose' placeholder="Ask for">
      <p id='xx'>Consulting via:</p>
      <select id="consultingVia" placeholder="Your email">
        <option value="email">Email</option>
        <option value="phone">Phone</option>
      </select>
      <div>
        <button onclick="consulting()">submit</button>
        <button onclick="$('#consulting').fadeOut(1000);">CLose</button></button>
      </div>
    </div>
  </div>



  <div id="loginForm" style="display: none;">
    <div id="loginFormContent">
      <p>Đăng nhập</p>
      <hr style="  box-shadow: 0 10px 10px -10px #8c8c8c inset;">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <div>
        <button>Log In</button>
        <button onclick="$('#loginForm').fadeOut(1000);"><i class="fas fa-times fa-lg"></i></button>
      </div>
    </div>
  </div>

  <article>
    Văn bản là một loại hình phương tiện để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ thể
    khác bằng ký hiệu gọi là chữ viết. Nó gồm tập hợp các câu có tính trọn vẹn về nội dung, hoàn chỉnh về hình thức, có
    tính liên kết chặt chẽ và hướng tới một mục tiêu giao tiếp nhất định.
  </article>

  <footer>Copyright &copy; 2016 dammio.com</footer>
  <div class="slideshow-container">
    <h2>Freetus.net hướng dẫn tạo slideShow đơn giản</h2>
    <div class="mySlides fade">
      <img src="./images/slide-1.jpg" style="width:100%">
      <div class="text">Nội dung caption của slide đầu tiên!</div>
    </div>

    <div class="mySlides fade">
      <img src="./images/slide-2.jpg" style="width:100%">
      <div class="text">Nội dung caption của slide thứ 2!</div>
    </div>

    <div class="mySlides fade">
      <img src="./images/slide-3.jpg" style="width:100%">
      <div class="text">Nội dung caption của slide thứ 3!</div>
    </div>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>


</body>


<script>

  $(window).on('click', function (e) {
    if ($(e.target).is('#loginForm')) {
      $('#loginForm').fadeOut(500);
    }
     if ($(e.target).is('#consulting')) {
      $('#consulting').fadeOut(500);
    }
  });
  function consulting() {
    formData = {
      name: $("#consultingName").val(),
      Email: $("#consultingEmail").val(),
      phone: $("#consultingPhone").val(),
      purpose: $("#consultingPurpose").val(),
      consultingTime: $("#consultingTime").val(),
      consultingVia: $("#consultingVia").val(),
    }
    $.ajax({
      url: '/consulting',
      method: 'post',
      dataType: 'json',
      data: formData,
      success: function (response) {
        if (response.msg == 'success') {
          alert(' success');
        }
        if (response.msg == 'error') {
          alert(' error');
        }
      },
      error: function (response) {
        alert('server error');
      }
    })
  }

  //khai báo biến slideIndex đại diện cho slide hiện tại
  var slideIndex;
  // KHai bào hàm hiển thị slide
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndex].style.display = "block";
    dots[slideIndex].className += " active";
    //chuyển đến slide tiếp theo
    slideIndex++;
    //nếu đang ở slide cuối cùng thì chuyển về slide đầu
    if (slideIndex > slides.length - 1) {
      slideIndex = 0
    }
    //tự động chuyển đổi slide sau 5s
    setTimeout(showSlides, 5000);
  }
  //mặc định hiển thị slide đầu tiên 
  showSlides(slideIndex = 0);


  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
</script>

</html>