* {
    box-sizing: border-box
}

body {
    height: auto;
    width: 100%;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

nav {
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

#loginForm,
#consulting {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
}

#loginFormContent,
#consultingContent {
    padding: 15px;
    border: lightblue 4px solid;
    box-shadow: 10px 10px 10px 10px lightblue;
    width: 30%;
    height: 100%;
    margin-left: 35%;
    border-radius: 30px;
}

#loginFormContent,
#consultingContent {
    background: repeat url("https://img.pikbest.com/png-images/qiantu/cartoon-character-kid-studying-hard_2722904.png!c1024wm0/compress/true/progressive/true/format/webp/fw/1024");
    background-size: 100%;
    padding: 10px;
}

#loginFormContent p {
    padding-left: 5%;
    display: inline-block;
    /* background: rgba(139, 69, 110, 0.8); */
    font-family: "Fantasy";
    color: black;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    margin: 0;
    background-color: white;
    opacity: 0.8;
}

#loginFormContent input {
    opacity: 0.8;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

#loginFormContent input::placeholder {
    opacity: 1;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 0;
    padding-left: 5%;
}

#loginFormContent div {
    width: 90%;
    height: 50px;
    padding: 0;
    padding-left: 20%;
}

#loginFormContent button {
    width: 40%;
    height: 50px;
    border-radius: 30px;
}

#consultingContent p:nth-child(1) {
    padding-left: 5%;
    display: inline-block;
    /* background: rgba(139, 69, 110, 0.8); */
    font-family: "Fantasy";
    color: black;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    margin: 0;
    background-color: white;
    opacity: 0.8;
}

#xx {
    padding-left: 5%;
    display: inline-block;
    font-family: "Fantasy";
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    margin: 0;
    background-color: white;
    opacity: 0.8;
}

#consultingContent input {
    opacity: 0.8;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

#consultingContent input::placeholder {
    opacity: 1;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 0;
    padding-left: 5%;
}

#consultingContent div {
    width: 90%;
    height: 50px;
    padding: 0;
    padding-left: 20%;
}

#consultingContent button {
    width: 40%;
    height: 50px;
    border-radius: 30px;
}

#consultingContent select {
    opacity: 0.8;
    width: 49%;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}


/* Ẩn các slider */

.mySlides {
    display: none;
}


/* Định dạng nội dung Caption */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* định dạng các chấm chuyển đổi các slide */

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* khi được hover, active đổi màu nền */

.active,
.dot:hover {
    background-color: #717171;
}


/* Thêm hiệu ứng khi chuyển đổi các slide */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
}

header,
footer {
    border: blue solid;
    height: 50px;
    width: 100%;
    color: black;
    background-color: wheat;
    clear: left;
    text-align: center;
    padding: 0;
    margin: 0;
}

header ul {
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 20px;
}

header li {
    padding: 0;
    height: 100%;
    color: black;
    float: left;
    width: 190.5px;
}

header a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5%;
    border: 1px solid white;
}

header a:hover {
    background: #F1F1F1;
    color: #333;
}