* {
    box-sizing: border-box
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 1;
    height: auto;
    width: 100%;
}

#img1 {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

#img1 img {
    border: chocolate solid;
    border-radius: 30px;
    width: 100%;
    height: 550px;
}

#loginForm,
#consulting {
    padding: 5%;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    /* Stay in place */
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
}

#loginFormContent,
#consultingContent {
    padding: 15px;
    border: lightblue 4px solid;
    box-shadow: 10px 10px 10px 10px lightblue;
    width: 30%;
    height: auto;
    margin-left: 35%;
    border-radius: 30px;
}

#loginFormContent,
#consultingContent {
    background: repeat url("https://img.pikbest.com/png-images/qiantu/cartoon-character-kid-studying-hard_2722904.png!c1024wm0/compress/true/progressive/true/format/webp/fw/1024");
    background-size: 100%;
    padding: 10px;
}

#loginFormContent p {
    padding-left: 5%;
    display: inline-block;
    /* background: rgba(139, 69, 110, 0.8); */
    font-family: "Fantasy";
    color: black;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    margin: 0;
    background-color: white;
    opacity: 0.8;
}

#loginFormContent input {
    opacity: 0.8;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

#loginFormContent input::placeholder {
    opacity: 1;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 0;
    padding-left: 5%;
}

#loginFormContent div {
    width: 90%;
    height: 50px;
    padding: 0;
    padding-left: 20%;
}

#loginFormContent button {
    width: 40%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
}

#consultingContent p:nth-child(1) {
    padding-left: 5%;
    display: inline-block;
    /* background: rgba(139, 69, 110, 0.8); */
    font-family: "Fantasy";
    color: black;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    margin: 0;
    background-color: white;
    opacity: 0.8;
}

#xx {
    padding-left: 5%;
    display: inline-block;
    font-family: "Fantasy";
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    margin: 0;
    background-color: white;
    opacity: 0.8;
}

#consultingContent input {
    opacity: 0.8;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

#consultingContent input::placeholder {
    opacity: 1;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 0;
    padding-left: 5%;
}

#consultingContent div {
    width: 90%;
    height: 50px;
    padding: 0;
    padding-left: 20%;
}

#consultingContent button {
    width: 40%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
}

#consultingContent select {
    opacity: 0.8;
    width: 49%;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
}

header,
footer {
    box-sizing: border-box;
    border: peru solid;
    border-radius: 30px;
    height: 50px;
    width: 100%;
    color: black;
    background-color: wheat;
    clear: left;
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    z-index: 5;
    position: fixed;
    margin-top: -50px;
}

header ul {
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 20px;
}

header ul:nth-child(1) {
    border-radius: 30px;
}

header li {
    padding: 0;
    height: 100%;
    color: black;
    float: left;
    width: 190.5px;
}

header a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5%;
    border: 1px solid white;
}

header a:hover {
    background: #F1F1F1;
    color: #333;
}